[2015-02-12 21:34] pzduniak opened #106 "Enhance the design"
![Current design](http://qs.lc/u7mvp)
![Suggested change](http://qs.lc/ts0bj)

The changed version has some stuff moved as I was too lazy to calculate movement. but it should be easy enough to change.

[2015-02-23 21:57] flixi opened #132 "How does the system know Bill's email already and why is it displayed as a hidden email?"
![bildschirmfoto 2015-02-23 um 22 51 48](https://cloud.githubusercontent.com/assets/707993/6338435/3447fa10-bbaf-11e4-8bf6-cfd508658f66.png)
![bildschirmfoto 2015-02-23 um 22 54 48](https://cloud.githubusercontent.com/assets/707993/6338434/3447c770-bbaf-11e4-8016-0ef696f08e4f.png)

[2015-02-23 22:37] flixi opened #135 "Inbox automagically refresh, please... and ounter of how many new unread emails..."
I would like to have the Inbox refresh automagically if there s a new email. Currently you have to change the folders in order to send a new GET-Request.
And include a Counter on the side of INBOX with Unread Emails.

[2015-02-24 18:36] piggyslasher opened #140 "style compose prompt when sending unencrypted email"
![image](https://cloud.githubusercontent.com/assets/1991125/6356258/255f196e-bc97-11e4-807e-dde5d63f1e65.png)

[2015-02-27 11:58] let4be opened #162 "inbox threads fixes"
![image](https://cloud.githubusercontent.com/assets/4147061/6412134/05a19ef2-be91-11e4-9cbc-2dc0da335f0d.png)

[2015-02-27 14:41] flixi opened #166 "Only display key that matches users login information even though there may be more than one key in the browsers cache."
![bildschirmfoto 2015-02-27 um 15 39 50](https://cloud.githubusercontent.com/assets/707993/6414354/058410d4-be97-11e4-9ebb-f80577e23d04.png)
Logged in with felix. felix90 should display not decrypted key!

[2015-02-27 14:44] flixi opened #167 "Two blues?"
![bildschirmfoto 2015-02-27 um 15 43 19](https://cloud.githubusercontent.com/assets/707993/6414406/6f09dd9a-be97-11e4-8405-846bc2e0e55f.png)

Please make the buttons have the same color scheme...

[2015-02-27 17:20] let4be opened #170 "ng-autodisable clicking any button triggers form submit"

[2015-02-28 17:40] piggyslasher opened #179 "Firefox font-weight issues"
browser still trying to use its faux bold and not roboto's bold
![image](https://cloud.githubusercontent.com/assets/1991125/6427180/fd0a9ae0-bfb3-11e4-90bd-9da5da5c7a05.png)

[2015-02-28 17:46] piggyslasher opened #181 "setting pages / padding bottom"
need to set separate padding bottom based on height. percentage maybe?

i.e. keys page is cut off at bottom with new scrollbar fix.

[2015-03-02 21:15] pzduniak opened #189 "non-current-domain lavaboom addresses are considered unencrypted"
If you try to send from .com to .co, it'll try to send an unencrypted email.

[2015-03-04 08:02] let4be opened #202 "Compose screen: remember "send unecrypted email" choice"

[2015-03-04 13:37] pzduniak opened #209 "Lavaboom Sync - text updated - no checkbox now."
![http://qs.lc/bd58b](http://qs.lc/bd58b)

[2015-03-04 17:41] piggyslasher opened #213 "ui-select - width jump from loading state to populated state"
check if can set min-height for loading state.

[2015-03-04 21:07] pzduniak opened #216 "Some sentences are written in a weird way"
In my opinion, all labels like
![http://qs.lc/ht36q](http://qs.lc/ht36q)

Should be swapped to normally typed sentences:
![http://qs.lc/nf14b](http://qs.lc/nf14b)

[2015-03-09 04:45] piggyslasher opened #229 "sign up for newsletter text"
@bilbof - you commented out said line from the toml language file. would you like me to uncomment it?

![image](https://cloud.githubusercontent.com/assets/1991125/6550061/132e1de0-c65a-11e4-986a-bb4f05a178d0.png)

Assign this issue back to me if you want me to proceed. Thanks.

[2015-03-09 14:56] piggyslasher opened #234 "font size and/or width needs to be more than 1.4rem on retina displays"
i will check this with a few displays tomorrow and settle on something concrete.

[2015-03-09 14:57] piggyslasher opened #235 "checkbox on login screens should be aligned to info-text"
if there is info text, place checkbox as a child to it.

[2015-03-09 14:58] piggyslasher opened #236 "lastpass background image on text fields - can we reposition this?"
- try to use background-position: !important.
- try to set different background-image using !important, with no background-positioning.

[2015-03-09 16:33] andreis opened #237 "Minor lower-corner improvement on prod"
http://i.imgur.com/7bQrh3k.png

[2015-03-10 13:17] flixi opened #245 "Why are there two locks in my Inbox all of a sudden?"
I just replied to an email and this is what happened.
![bildschirmfoto 2015-03-10 um 14 11 33](https://cloud.githubusercontent.com/assets/707993/6575575/2acb1b0c-c730-11e4-98e2-543b5e7109c0.png)

[2015-03-10 13:40] let4be commented on #245
This is just a draft for displaying mixed-encryption threads, when part of emails originate from secure source and part not. Can be easily edited in jade

[2015-03-10 13:40] let4be commented on #245
This data comes completely from API,
secure = all
secure = none
secure = some

[2015-03-10 15:08] bilbof opened #246 "Email list in wrong order"
The email list orders the emails incorrectly when there one email is a thread/chain of replies.

![bug](https://cloud.githubusercontent.com/assets/8124374/6577617/9f4d2a7e-c73f-11e4-82ea-c9d3f6795140.png)

[2015-03-10 16:03] let4be opened #247 "External images in email: block by default + setting to allow"

[2015-03-11 07:41] #247 closed

[2015-03-11 07:49] let4be opened #249 "Style selected item of the sorting dropdown"
![image](https://cloud.githubusercontent.com/assets/4147061/6592249/4925d63a-c7dc-11e4-8e1f-6f09d776a20b.png)

[2015-03-11 07:54] #246 closed

[2015-03-11 07:54] #245 closed

[2015-03-11 07:55] let4be opened #250 "Style mixed-encryption thread icon"
Please see: https://github.com/lavab/web/issues/245

[2015-03-11 07:56] let4be commented on #209
Fixed

[2015-03-11 07:56] #209 closed

[2015-03-11 07:57] #132 closed

[2015-03-11 08:02] let4be opened #251 "Show shortcuts help screen as popup"

[2015-03-11 10:13] #251 closed

[2015-03-11 11:34] vLooz opened #253 "Toggle Button guidelines"
![2015-03-11_sliderbutton2](https://cloud.githubusercontent.com/assets/11177812/6595493/218779b2-c7eb-11e4-9a9f-6a53bdc7c5f1.png)

[2015-03-11 11:36] let4be commented on #253
mmm?

[2015-03-11 11:41] vLooz commented on #253
It's Version 2.0. I'm not totally happy with the slider buttons we have right now. When you guys have time I'd love to have them updated regarding this guidelines.

[2015-03-11 11:42] bilbof opened #254 "Emails disappear when read"
All of my emails that arrived before 6pm yesterday are gone.

![screen shot 2015-03-11 at 12 41 15](https://cloud.githubusercontent.com/assets/8124374/6595591/06c33020-c7ec-11e4-98e7-bd179e299950.png)

[2015-03-11 11:47] vLooz opened #255 "Compose View Improvements"
Version 2.0
I'd love too see some improvements to the compose screen. The "H1-H3 headline" options won't be understood by Non-HTML-savvy people.
Please check the design mock, how it should look in the end.
![2015-03-10_compose_better text editor](https://cloud.githubusercontent.com/assets/11177812/6595683/c6d5c7a6-c7ec-11e4-8839-b9314d25f047.jpg)

[2015-03-11 12:03] vLooz opened #256 "No yellow background during LogIn"
please change the background
![2015-03-11_login_get rid of yellow background](https://cloud.githubusercontent.com/assets/11177812/6595884/0c039680-c7ef-11e4-9b28-d3909913a19f.png)

[2015-03-11 12:09] vLooz commented on #256
Bill just told me, the yellow background is a browser things and it's hard to avoid. If you still can find a way tough, it would make me really happy :)

[2015-03-11 12:09] bilbof commented on #256
@piggyslasher apparently this is the solution http://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete

[2015-03-11 12:23] vLooz opened #257 "Add Contact PopUp/Overlay"
From Inbox or even Compose view there should be a way to add an email-address right away to your contacts via a popup:
![2015-03-09_add contactpopup](https://cloud.githubusercontent.com/assets/11177812/6596149/ab9e5f98-c7f1-11e4-812f-ec4331ad596f.png)

[2015-03-11 12:49] let4be commented on #257
Sounds good, will implement

[2015-03-11 13:09] vLooz commented on #257
nice! Let me know, if you need any info on this!

[2015-03-11 13:45] vLooz opened #258 "Blue color always #3BBADC"
Please make sure, that throughout the whole client (incl. SignUp/Login) blue color is always #3BBADC
thx!

![2014-03-05_signup-tweaks_03](https://cloud.githubusercontent.com/assets/11177812/6597449/14a3bb18-c7fd-11e4-9be5-48aa52c4f76d.png)

[2015-03-11 14:52] vLooz opened #259 "Compose: email tag styling"
I'm aware I've send Vik info about this already. Nevertheless this is the most actual info about this.
![2015-03-11_compose_removingaddress](https://cloud.githubusercontent.com/assets/11177812/6598844/9a19e7d2-c806-11e4-8b40-b79644992771.png)

[2015-03-11 16:48] vLooz opened #260 "Compose: Select sender address"
![2015-03-11_select-senderaddress-01](https://cloud.githubusercontent.com/assets/11177812/6601597/dd139442-c816-11e4-9ef8-ac341763d3c7.png)

[2015-03-11 17:46] vLooz opened #261 "Compose: Select recipient address from address book"
Currently we have this and from a design POV it could use some improvements:
![2015-03-10_compose_selectrecipientaddress](https://cloud.githubusercontent.com/assets/11177812/6602899/d7f6d156-c81e-11e4-8253-fa3d0b2bd489.png)

The dropdown design is the same like in "Select sender addess".
![2015-03-11_compose_selectrecipientaddress-01](https://cloud.githubusercontent.com/assets/11177812/6602919/f3c

[2015-03-11 17:50] vLooz opened #262 "SignUp: Align main elements throughout the process"
The SignUp process is great so far, I enjoy looking at every time I use it :)
It would be even better and more calm though, when the elements like headline, dots, buttons, text fields etc. don't rearrange between the stetps, but stay in the same position.
![2015-03-09_sign-in_allign elements](https://cloud.githubusercontent.com/assets/11177812/6602994/80577918-c81f-11e4-918b-e2cf17deb3f7.png)

[2015-03-12 06:49] let4be commented on #260
This is not supported yet, currently user has to logout/login to use another account

[2015-03-12 09:19] let4be opened #263 "Email: add support for raw urls and email not wrapped in any tags"
User can specify links/emails in raw format, we need to wrap them in a tags

[2015-03-12 09:57] let4be commented on #263
https://github.com/lavab/web/commit/8af0e677924f7d2339302a80ff70f6c6f3eceefe

[2015-03-12 09:57] #263 closed

[2015-03-12 10:39] let4be opened #264 "Sorting labels"
Labels came from server and we need a way to reorder them client-side

[2015-03-12 10:57] let4be commented on #264
now we can use ORDERED_LABELS array (src/js/apps/Utils/constants/consts.js)
to order standard labels as we want to

[2015-03-12 10:57] #264 closed

[2015-03-12 10:59] let4be commented on #257
Core functionality has been Implemented for compose screen && email body,
@piggyslasher could you please style this as @vLooz suggested? :)

Currently I've binded this context menu to right click

[2015-03-12 11:03] let4be commented on #254
@bilbof could you please provide more details about this? what else is available in your inbox?
I suspect infinite scrolling issue as it was developed some time ago and wasn't tested to work with recent changes

probably @pzduniak did some cleanup or something?

[2015-03-12 11:10] let4be commented on #260
This is going to be a big change that will require some rework of existing core functionality, so I suggest to postpone this for a while
@flixi, @andreis what are your thoughts on this?

[2015-03-12 11:12] let4be opened #266 "Generate and upload new key pair"
User may lose existing key pair/forget password and this is very important aspect to allow user generate a new one to continue using his inbox
This of course will mean losing access to existing contacts/emails

[2015-03-12 11:16] let4be opened #267 "Separate step "enter private key password" when key is encrypted with different password"
Currently it's possible to change private key password: https://mail.lavaboom.co/#!/settings/security
under "Change password" section

When user has done so he will be able to login but his private key won't be decrypted automatically and he will have to do it manually on the settings tab.

I suggest to add a new screen to the Login application that would ask user for his private key password if p

[2015-03-12 11:30] let4be opened #268 "Go through all templates and make sure each string is in translations file"

[2015-03-12 11:30] let4be commented on #268
I've noticed some thing indeed weren't translated

[2015-03-12 11:48] andreis commented on #260
Agreed, postponing this

[2015-03-12 11:54] andreis commented on #267
We definitely need to work on the experience of decrypting/handling passphrases*.

On (1) login when LbSync active and (2) keyring upload, we should try to decrypt all available private keys, and warn the user if any private keys have different passphrases, then suggest to change the passphrase to the default one (the account password).

Also, when changing the account password, we should alert th

[2015-03-12 11:54] vLooz commented on #257
Nice work @let4be

[2015-03-12 12:38] flixi opened #269 "How are unread emails indicated?"
![bildschirmfoto 2015-03-12 um 13 36 49](https://cloud.githubusercontent.com/assets/707993/6617815/01c9b70c-c8bd-11e4-948b-77be36f7ab2f.png)
It shows me that there is one email which is unread but it doesn't indicate which one it is.

[2015-03-12 12:40] let4be commented on #269
Indication is not implemented yet(no styling) afaik
Though it's easy to implement the data is here
@piggyslasher ?

[2015-03-12 12:42] flixi opened #270 "Emails sometimes don't get properly displayed, only as Mumbo jumbo or as missing images"
![bildschirmfoto 2015-03-12 um 13 36 49](https://cloud.githubusercontent.com/assets/707993/6617842/3ecc1bf4-c8bd-11e4-8b3a-5bb2384bfce7.png)
This happens from time to time.

![bildschirmfoto 2015-03-12 um 13 40 31](https://cloud.githubusercontent.com/assets/707993/6617864/74a4721c-c8bd-11e4-8191-50e4e4e98ef5.png)
Paypal Emails are generally introduced in this format.

![bildschirmfoto 2015-03-12 u

[2015-03-12 12:43] let4be commented on #268
Closing this for now, please reopen the issue if you find any hard-coded text.

[2015-03-12 12:43] #268 closed

[2015-03-12 12:48] let4be commented on #270
@flixi

1st need more data, could you please provide "source code" of this email?
open developer tools, click "find element", click on the image and post nearby html source code somewhere on pastebin

this way I will get an idea what happened here

2nd email was caused by some mailer issue most likely

3rd looks perfectly valid

[2015-03-12 12:51] let4be commented on #267
@andreis I thought it could be good to provide users a way to have private keys protected with passpharse different from account's password
Don't you think so?

[2015-03-12 13:02] let4be opened #272 "Email body directive wraps urls/emails inside tags(should skip)"

[2015-03-12 13:03] let4be commented on #270
can be related with https://github.com/lavab/web/issues/272
working on a fix

[2015-03-12 13:13] andreis commented on #267
Of course. We should make it easy to have private keys encrypted with the account password (the default use case), yet let power users customise their keys.

Additionally, when importing private keys (either by LS or uploading a keyring) we should indicate with an unread-emails-style icon next to settings how many keys we couldn't decrypt with the account password. Makes sense?

[2015-03-12 13:26] #272 closed

[2015-03-12 13:26] let4be commented on #270
@flixi could you please check again?

[2015-03-12 13:42] let4be opened #273 "general styling of notifications & attachments"
![image](https://cloud.githubusercontent.com/assets/4147061/6618627/384398ee-c8d5-11e4-9875-20f427066727.png)
When images security setting is ON we block all images from external sources, need a proper stub for those images
please see src/blocks/directives/noImage.jade

[2015-03-12 13:43] let4be commented on #273
Currently I just replace such images with some random image I've googled :)

[2015-03-12 13:43] vLooz opened #274 "MailClient: General design retouches"
Compares to the design mock there are still some things off with the mail client design. I don't know what you are working on or which glitches you are aware of already, so I apologize for any double issues :)
Please let me know, when questions arise.

![2015-03-12_inbox retouches](https://cloud.githubusercontent.com/assets/11177812/6618779/a8cd3792-c8c5-11e4-89c4-f0bc3d2869de.png)

This is the or

[2015-03-12 13:52] let4be commented on #274
@vLooz "Encrypted thread" is indicates that user does NOT have available decrypted private key for this email
Lock icon indicates that email originates from secure source(for example from another lavaboom account), i.e. supports E2E encryption

So things are different here

[2015-03-12 14:07] let4be opened #275 "Hotkeys issues with opened popups"
Recent change in shortcuts broke some functionality

[2015-03-12 14:07] let4be opened #276 "Compose screen: unable to drag && drop image from other page"
Caused by custom-drop-zone directive

[2015-03-12 14:36] #276 closed

[2015-03-12 14:46] let4be commented on #275
Seems to happen when clicking outside of editable area on compose view...

[2015-03-12 14:53] vLooz opened #277 "Some email will not be delivered from lavaboom.com to Gmail"

[2015-03-12 14:56] vLooz opened #278 ""Delivery to the following recipient failed permanently" when sending from Gmail to Lavaboom"
It arrives in my lavaboom inbox nevertheless.

[2015-03-12 15:05] vLooz commented on #274
mmm... I don't really get this, sorry. @let4be When the user doesn't have a private key available, all E2E-Threats should be encrypted, right?

[2015-03-12 15:31] let4be commented on #274
correct, if user doesn't have decrypted key everything remains encrypted

[2015-03-12 15:33] let4be commented on #278
please post in https://github.com/lavab/mailer/issues/new
https://github.com/lavab/web is just a web interface on top of API and Mailer

[2015-03-12 15:33] #278 closed

[2015-03-12 15:34] let4be commented on #277
Please details

[2015-03-12 15:44] #275 closed

[2015-03-12 15:48] let4be commented on #270
please, let me know does it still happen on .co?

[2015-03-12 16:27] flixi commented on #270
![bildschirmfoto 2015-03-12 um 17 26 35](https://cloud.githubusercontent.com/assets/707993/6622466/0acd0ffa-c8dd-11e4-9606-da35ece1d191.png)

[2015-03-12 16:41] vLooz commented on #277
It turned out, that it's not a speed problem, but that some Mails are not getting through at all. They appear in Lavaboom/Sent but never reach my Gmail Inbox.
I copied the exact content of a mail, which did not get through on the first try, and on the second try it was no problem.
I tried several attempts with different text formatting, but didn't find a clue there.

[2015-03-12 16:45] let4be commented on #277
@vLooz sounds like https://github.com/lavab/mailer problem
Please open developer tools(F12?), wait when application loads, clear the log and then send email.
When issue appears copy contents of console logs somewhere and post them

[2015-03-12 16:45] let4be commented on #277
basically we just need to see what's going on inside and get ID of sent email so we could track down this issue

[2015-03-12 16:47] vLooz commented on #277
What do you need to ID them? Is sender, recipient and Subject enough?

[2015-03-12 16:48] let4be commented on #277
the required info is in console logs(developer tools)
could be useful: http://webmasters.stackexchange.com/questions/8525/how-to-open-the-javascript-console-in-different-browsers

[2015-03-12 16:50] vLooz commented on #277
mmh... not realistic, that I will be able to find it.

[2015-03-12 16:51] let4be opened #279 "Log tracking"
We need some way to collect logs from the application to be able to debug issues, without logs we're like without hands...

Also we're heavily using js/css transpiling so we also need to deal with source maps:
https://trello.com/c/dDCrHeid/136-source-maps-on-production

This one looks promising: https://getsentry.com/welcome/

@andreis, @pzduniak , @flixi ideas are welcomed

[2015-03-12 17:18] let4be commented on #279
Other alternatives to consider:
https://errorception.com/
https://airbrake.io/
http://www.exceptionhub.com/

[2015-03-12 19:00] vLooz opened #280 "Settings / Profile: Get rid of pen Icons"
I know, I had them on my design mock in the first place, but now it feels a bit uneasy, especially because user can edit text by clicking into the fields anyways. Please get rid of them and move the text to the right, see mock. Thx!
![2015-03-12_settings_get rid of pen icons](https://cloud.githubusercontent.com/assets/11177812/6625751/5a2972a4-c8f2-11e4-98cb-11df5efc1187.jpg)

[2015-03-12 19:25] vLooz commented on #274
Ok. In this case we should not let the user enter his inbox without "shouting" at him, to upload his private key. Furthermore the whole mail appears highly visible encrypted, I don't think we need an additional text here.
Still it is a bug in my case. I had my private key in my cash and I could read Felix's Mail.

[2015-03-12 21:08] vLooz commented on #269
This is how it is supposed to look like:
![inbox kopie](https://cloud.githubusercontent.com/assets/11177812/6628252/41764a4a-c904-11e4-9bbd-b29ab26cb056.png)

[2015-03-13 06:23] piggyslasher commented on #253
okay. let me have another go as this. i really didn't want to use any external plugins and kept it as minimal styling to a basic checkbox. let me try and get it more perfect.

[2015-03-13 07:23] piggyslasher commented on #167
fixed. please check. now i've set the remove button as a warning color. and fixed all the buttons to have a relative hover color (5% lighter)

[2015-03-13 07:23] #167 closed

[2015-03-13 08:08] #236 closed

[2015-03-13 09:14] let4be commented on #267
@andreis when we do import keys from http://mail.lavaboom.co/#!/settings/security
we don't have account password in plain text at all
(in some cases we could get access to it, for example when we came directly from the auth screen in the login application, but it's not guaranteed because we can authenticate via stored token)

So for now main application imports all private keys in encrypted state(

[2015-03-13 09:28] let4be opened #284 "Need styling/design for a new screen"
*Background*:
  User has few key pairs in his keyring for a given email address and they protected with different passphrases. User may need his old key pairs in order to access his old email/contacts.

*Current flow*:
  When user logs in we decrypt all keys we can decrypt with account's password and leave all other keys in encrypted state. User has no clue what's going on and why his other keys w

[2015-03-13 09:31] let4be commented on #266
implemented with https://github.com/lavab/web/pull/283

[2015-03-13 09:31] #266 closed

[2015-03-13 09:44] let4be commented on #166
I've tried to reproduce this once again without any success

[2015-03-13 09:57] #202 closed

[2015-03-13 10:00] let4be opened #285 "Remove hidden contact if user creates visible contact with the same email in private/business"

[2015-03-13 14:26] let4be opened #286 "Implement accounts.wipe functionality to safely delete all emails/contacts"
There was an API call for this, does it work @pzduniak?

[2015-03-13 21:01] let4be opened #287 "migrate jshint to eslint for better code linting"
Looks like they ve recently added full es6 support

[2015-03-13 23:39] andreis commented on #284
Again, I recommend alert + notification icon next to Settings after importing (either from keyring file or lavaboom sync) private keys with passphrases other than account password.

[2015-03-13 23:42] andreis commented on #267
Side note, when are we going to get rid of the ugly `#!/` links already?

@let4be

[2015-03-13 23:58] pzduniak opened #288 "A way to pass username and invite code in URL"
I need a way to pass username and invite code into the first step of the registration from an external app.

[2015-03-14 08:12] #285 closed

[2015-03-14 08:26] #288 closed

[2015-03-14 08:27] let4be commented on #288
please use /#!/verifyInvite/[userName]/[invitation token]

[2015-03-14 08:28] let4be commented on #267
@andreis pls...
create a separate issue instead going offtopic ^^

[2015-03-14 08:28] let4be opened #289 "put ui router in html5 mode"

[2015-03-14 08:45] let4be commented on #289
I've added html5 support so we don't have !# anymore
This works perfectly fine on develop when serve from express.js

For production we need to configure nginx to support html5 mode:
please see: https://github.com/angular-ui/ui-router/wiki/Frequently-Asked-Questions#how-to-configure-your-server-to-work-with-html5mode

Shortly we need to serve ['css', 'img', 'js', 'partials', 'translations', 'vendo

[2015-03-14 11:57] pzduniak commented on #289
I'll need to change the base image to something more framework-ish, gonna do it today.

[2015-03-14 13:25] pzduniak commented on #289
nginx reconfigured

[2015-03-14 14:13] let4be commented on #289
https://mail.lavaboom.co/verifyInvite/test/test

[2015-03-14 14:13] #289 closed

[2015-03-14 15:50] let4be opened #290 "upgrade gulpfile to use es6"

[2015-03-14 16:05] #189 closed

[2015-03-15 12:14] andreis opened #292 "Getting rid of the ugly Angular links"
http://stackoverflow.com/questions/14771091/removing-the-hashtag-from-angularjs-urls-symbol
http://stackoverflow.com/questions/17893292/how-can-i-get-rid-of-the-hash-tag-in-my-angularjs-site-url

[2015-03-15 12:14] pzduniak commented on #292
Duplicate of #289

[2015-03-15 12:14] #292 closed

[2015-03-15 18:14] andreis commented on #289
Vielen dank

[2015-03-16 08:34] let4be opened #293 "implement: contacts star"

[2015-03-16 08:35] let4be commented on #293
Star emails(private/business), start contact itself, probably show starred contacts first in compose screen's typeahead

[2015-03-16 08:36] let4be opened #294 "implement: contacts upload custom public key"

[2015-03-16 08:37] let4be opened #295 "implement: contacts delete email(private/business)"
Currently we can delete only contact as a whole entity, would be nice to be able to delete emails from contact too

[2015-03-16 10:31] vLooz opened #296 "Client: Icons disappear & functionality is gone"
I just wanted to delete a thread with 3 messages in it from Inbox.
I clicked the delete icon and nothing happened, the message still is in Inbox and Trash is still empty.
After I clicked the delete icon a second time, the icons in the header disappeared and would only be visible for a split second the moment I click the message. After some seconds the mail vanished from inbox, but didn't appear in

[2015-03-16 10:36] vLooz opened #297 "Inbox is not highlighted light grey when no mail is selected"

[2015-03-16 10:38] vLooz opened #298 "Inbox unread Mail counter doesn't disappear after reading and even replying the unread mail"

[2015-03-16 10:38] vLooz commented on #298
![bildschirmfoto 2015-03-16 um 11 38 19](https://cloud.githubusercontent.com/assets/11177812/6664533/01a59a40-cbd1-11e4-986e-f9eb3eee1f64.png)

[2015-03-16 10:41] vLooz commented on #297
![bildschirmfoto 2015-03-16 um 11 34 05](https://cloud.githubusercontent.com/assets/11177812/6664576/62a2c868-cbd1-11e4-84fa-0127aa6e0b70.png)

[2015-03-16 10:46] let4be commented on #298
There is a bunch of problems related to this, going to address this in the nearest time.

[2015-03-16 10:47] andreis commented on #296
Where was this? .com / .io / .co ?

We're working on adding log tracking, until then you can copy and paste the console output (Cmd+Alt+I, Console tab) here (use code tags) or as a separate gist.

[2015-03-16 10:47] let4be commented on #296
We desperately need the logs from developer console to solve such issues
Without this it's almost impossible to troubleshot

[2015-03-16 10:54] vLooz opened #299 "No dot is shown in Usernames in settings/profile"
my username is felix.vlooz and when I send email to my gmail account it is shown as felix.vlooz@lavaboom.com. All fine.
However, in settings/profile under Username it is shown as felixvlooz. Would be nice if this could be consistent.

[2015-03-16 10:54] vLooz commented on #299
![bildschirmfoto 2015-03-16 um 11 46 29](https://cloud.githubusercontent.com/assets/11177812/6664811/342572a4-cbd3-11e4-9456-26bc010b7748.png)

[2015-03-16 11:01] bilbof opened #300 "Public key not linked to some accounts"
Worked for Felix VL, but not for Andrei's address.

![screen shot 2015-03-16 at 11 56 20](https://cloud.githubusercontent.com/assets/8124374/6664910/0a78dd32-cbd4-11e4-85af-3dcf6cc43f43.png)

See blue lock next to Felix's address and not with Andrei's.

[2015-03-16 11:04] bilbof commented on #300
![screen shot 2015-03-16 at 12 04 35](https://cloud.githubusercontent.com/assets/8124374/6664982/a6f1f14e-cbd4-11e4-8219-e58d5f8461ae.png)

[2015-03-16 11:06] bilbof commented on #300
I just sent the email and it added a key for Andrei. Still a bug though.

[2015-03-16 11:32] vLooz opened #301 "Client UI: Please stay close to the UI design mock dimensions"
I noticed, that many dimensions are a bit off compared to the guidelines in my UI design mocks.
In these guidelines I organized the dimensions and proportions with the unit x or 0,5x, 0,25x etc.
I used x instead of specific pixels because I wasn't sure what pixel-rate to use with different screen resolutions.

Now I learned that on normal screens, X is equal to 44 pixels (88px on retina).

I know

[2015-03-16 11:46] bilbof opened #302 "Public keys don't export properly"
I just made a new account. This got exported as a json. I have two public keys, one of which is legacy - don't know which. I can't export the keys in a readable format so I can submit them to mit.pgp.edu.

This is a problem because most encryption between lavaboom users (A) and non-lavaboom users (B) will be manual. B will need to find A's public keys on keybase.io or another key server, or be sen

[2015-03-16 11:47] bilbof commented on #302
![screen shot 2015-03-16 at 12 29 23](https://cloud.githubusercontent.com/assets/8124374/6665512/8fdb2632-cbda-11e4-85fc-71691dfc357d.png)
![screen shot 2015-03-16 at 12 39 49](https://cloud.githubusercontent.com/assets/8124374/6665511/8fd8c1e4-cbda-11e4-821b-6a85209759a3.png)

[2015-03-16 13:47] flixi opened #303 "Contacts functionality"
In the dropdown, underneath Add a public key should be request public key, which then in turn should popup a new compose window with a pre filled text and the attached public key of the account that initiated it.

[2015-03-16 14:16] piggyslasher commented on #301
how did you count this as 88px in the retina fvl?

Also are you zoomed in in any way. reset by hitting cmd + 0

[2015-03-16 14:39] flixi commented on #270
![bildschirmfoto 2015-03-16 um 15 36 18](https://cloud.githubusercontent.com/assets/707993/6668339/86485b68-cbf2-11e4-80e0-78656065b4ec.png)
Still happens despite being updated, the Front End.

[2015-03-16 15:00] piggyslasher commented on #262
this was because you wanted the whole process to be vertically aligned. hence the autoalignment. perhaps we do away with the auto align? @vLooz

[2015-03-16 15:10] piggyslasher commented on #273
@vLooz - what do you think?

[2015-03-16 15:15] piggyslasher commented on #269
yeah. there's a badge there
![image](https://cloud.githubusercontent.com/assets/1991125/6669120/344bbac2-cc32-11e4-9394-fa9c11f1ba9c.png)

It is already styled and don't show if empty.

[2015-03-16 15:18] piggyslasher commented on #257
should this be on on a click? rather than a right click?

[2015-03-16 15:47] piggyslasher commented on #255
The genius behind textAngular hasn't given dropdown support for the toolbars. hence the Helvetica / size choosing can't be implemented right out the box. i also did some more research and looks like support will be included in the newer version.

@flixi had a few words to say about this on trello previous. How do we do this boss?

[2015-03-16 16:00] #258 closed

[2015-03-16 16:15] piggyslasher commented on #274
[x] icons bigger
[x] action bar taller
[ ] align left icons to middle of logo
[ ] blue lock icon sizing
[ ] general inbox padding, sizing
[ ] missing icons in action bar of email

[2015-03-16 22:20] vLooz opened #306 "Restyling for invite.lavaboom.com"
These are UI design mocks + guidelines for a restyling of following screens on invite.lavaboom.com:

1. invite code verification (+ screen variation when code is wrong)
2. choose username & type actual email address (+ 2 screen variations when username is free/already taken)

The choose username screen is fitting the design and layout of mail.lavaboom.com/invite and is supposed to replace it's fir

[2015-03-16 22:32] #306 closed

[2015-03-17 07:36] let4be commented on #303
Are there any designs how it should look like? @mlooz

[2015-03-17 07:40] let4be commented on #302
The thing is, this kind of keys export was just for our internal use as suggested by @andreis
so we export public + private key pair with some sort of meta information on top of it

What do you think can we do there @andreis?

[2015-03-17 07:46] let4be commented on #300
When you type-in address in the from/cc/bcc fields it automatically get public key from lavaboom API
this operation is _not_ instant, so it can take some time but during this time it should display loading icon...

Please provide additional information, such as:
where did this take place? .co, .io, .com?
when it was, could be a duplicate https://github.com/lavab/web/issues/189

[2015-03-17 07:51] let4be commented on #299
Oh, right. I "undecorate" the username before passing it to the API...
@pzduniak could we support optional dots in username on API side or should I just put original username in the settings?

[2015-03-17 07:52] let4be commented on #298
related: https://github.com/lavab/web/issues/135

[2015-03-17 08:14] vLooz commented on #303
mlooz is my brother Moritz, who offered to look for bugs in later stages. Pls don't link him right now ;-)

I'm doing improvements of the design and workflow of the contact section. I'll add flixi's idea and send you the design mocks and guidelines hopefully end of the day.

[2015-03-17 08:14] #293 closed

[2015-03-17 08:27] let4be commented on #303
sooorry :)

[2015-03-17 08:32] #295 closed

[2015-03-17 08:48] let4be commented on #299
Found it, account.styled_name

[2015-03-17 08:54] #299 closed

[2015-03-17 08:55] let4be commented on #298
related: https://github.com/lavab/web/issues/269

[2015-03-17 09:22] let4be commented on #297
Issue is deeper, something triggers infinite $digest loop...

[2015-03-17 10:00] #254 closed

[2015-03-17 10:09] andreis commented on #302
We should let users download or copy-paste individual keys.

[2015-03-17 10:33] let4be commented on #302
added new button, not sure about UX here
does it look ok(on .co) @vLooz ?
probably we could add new popup where user could copy paste or download the key?

[2015-03-17 11:00] andreis commented on #302
FvL is working on this now, we'll basically makes some changes to how we display keys and move everything non-key related to a new `Settings` section, `Security`

[2015-03-18 19:27] flixi commented on #269
When will this be fixed?

[2015-03-18 19:39] flixi commented on #166
![bildschirmfoto 2015-03-18 um 20 31 36](https://cloud.githubusercontent.com/assets/707993/6717648/657ff176-cdae-11e4-8b2d-646d59a37fa0.png)
[code]

[2015-03-18 19:41] flixi commented on #303
@vLooz Can you share your designs with us?

[2015-03-18 19:46] flixi commented on #298
![bildschirmfoto 2015-03-18 um 20 46 08](https://cloud.githubusercontent.com/assets/707993/6717886/e201d3bc-cdaf-11e4-8526-1e714d1a3769.png)

[2015-03-18 19:48] flixi commented on #298
Wrong button.

[2015-03-18 21:15] let4be commented on #269
Due to problems with mailer and today's api downtime this hasn't been resolved yet
I will update this tomorrow

[2015-03-19 09:19] vLooz commented on #301
just saw your comment now, sorry. I made a screenshot and counted pixels via the selection tool in preview. But don't worry about retina, I think just focusing on normal screens for MVP is fine.

[2015-03-19 09:26] #298 closed

[2015-03-19 09:27] #135 closed

[2015-03-19 09:27] #269 closed

[2015-03-19 11:13] vLooz opened #308 "recipient is not shown in "Sent" Mail detail view"
![recipient is not shown in sent mail detail view](https://cloud.githubusercontent.com/assets/11177812/6729356/e7b30542-ce31-11e4-86f1-260b88b0bfac.png)

[2015-03-19 12:14] let4be commented on #308
caused by https://github.com/lavab/api/issues/108

[2015-03-19 12:17] flixi commented on #308
![bildschirmfoto 2015-03-19 um 13 15 12](https://cloud.githubusercontent.com/assets/707993/6730190/567be680-ce3a-11e4-9cbf-d75671b232b2.png)
![bildschirmfoto 2015-03-19 um 13 15 22](https://cloud.githubusercontent.com/assets/707993/6730191/569bbc94-ce3a-11e4-82c6-a61cf2b5f7f5.png)
![bildschirmfoto 2015-03-19 um 13 15 26](https://cloud.githubusercontent.com/assets/707993/6730192/569d56c6-ce3a-11e4-

[2015-03-19 12:20] let4be commented on #308
Known issue, please see: https://github.com/lavab/api/issues/107

p.s.
Please @flixi create separate issues for the things not related to the current issue
keeping different things in the same issue on github makes almost impossible to track them/find them

[2015-03-19 12:22] flixi commented on #270
![bildschirmfoto 2015-03-19 um 13 14 40](https://cloud.githubusercontent.com/assets/707993/6730200/7ad32638-ce3a-11e4-85c6-bfde6d7b3368.png)

https://gist.github.com/flixi/1926e3cd2d17e15946c6

[2015-03-19 12:25] flixi opened #309 "Encrypted email isn't shown in "sent" folder, whereas unencrypted emails are being shown alright"
![bildschirmfoto 2015-03-19 um 13 15 12](https://cloud.githubusercontent.com/assets/707993/6730287/57cfa728-ce3b-11e4-8d67-f0b124ee19ae.png)
![bildschirmfoto 2015-03-19 um 13 15 22](https://cloud.githubusercontent.com/assets/707993/6730286/57cdf2ca-ce3b-11e4-81a2-f658d3f80e68.png)
![bildschirmfoto 2015-03-19 um 13 15 26](https://cloud.githubusercontent.com/assets/707993/6730285/57cbc81a-ce3b-11e4-

[2015-03-19 12:25] #308 closed

[2015-03-19 12:26] let4be commented on #309
caused by: https://github.com/lavab/api/issues/107
as soon as this resolved this will be auto-fixed

[2015-03-19 12:31] let4be opened #310 "Cleanup Email/Manifest classes, remove redundant data references"
Some code relies on https://github.com/lavab/api/issues/109 as fallback

[2015-03-19 12:47] let4be opened #311 "Logout button is being hidden"
@piggyslasher I once fixed this but it somehow came back...
![image](https://cloud.githubusercontent.com/assets/4147061/6730593/2a10de10-ce4f-11e4-8d0b-f089a9a0996c.png)

[2015-03-19 13:09] flixi opened #312 "Forward button doesn't work"
I can't forward anything to another email address.

[2015-03-19 16:53] flixi opened #313 "Include the name of the node that actually serves you the interface"
For example served by maggie or marge or homer...
![bildschirmfoto 2015-03-19 um 17 45 00](https://cloud.githubusercontent.com/assets/707993/6735756/a89aa19c-ce60-11e4-9c3c-3aeb6d72e394.png)
Similiar to this.
Include it right below the menu.

[2015-03-20 07:47] let4be commented on #313
@pzduniak where could I take this information from?
I've tried /info and /me API calls but it seems there is no required information
tho, /info has

docs_url: "https://docs.lavaboom.io/"
message: "Lavaboom API"
version: "v0"

But I guess it's different from what we would like to see

[2015-03-20 07:52] let4be commented on #313
If we want to show exactly the node's name which gives us static assets, hm... we could for example pass the node name in `server` http response header

[2015-03-20 08:05] piggyslasher opened #314 "should we really restrict the display name's length"
![image](https://cloud.githubusercontent.com/assets/1991125/6747928/def1bc34-cf1a-11e4-9c9f-695689b48255.png)

[2015-03-20 08:05] let4be opened #315 "Duplicated buttons?"
What is the purpose of the same star, spam and delete buttons on the top panel?

![image](https://cloud.githubusercontent.com/assets/4147061/6747914/c5f82184-cef0-11e4-9c91-4276fc48c316.png)

I suppose one group is for threads and another is for emails inside thread, but this would sound weird...

[2015-03-20 08:07] let4be commented on #315
I mean how could it be possible to mark just a single email inside a thread as spam or delete a single email from somewhere in the middle of thread's conversation...

[2015-03-20 08:10] let4be commented on #314
Probably we should not, it's easy to change
All validation rules for login/signup are declarative and defined inside jade files, please see:
src\blocks\login\details.jade

for displayName field we currently have minlength=4

[2015-03-20 08:13] flixi commented on #314
Yes, 4 is alright. 1-3 displaynames length are reserved for employees and freelancers.

[2015-03-20 08:14] let4be commented on #314
nice @flixi :)

[2015-03-20 08:15] let4be commented on #314
But I guess we have only client side validation now, so later if we're going to impose any restrictions we will have to add server side validation
This data is being stored in unencrypted way(under user.settings) so we can do this

[2015-03-20 08:25] flixi opened #316 "Update readme.md"
E.g.
https://github.com/lavab/api

[2015-03-20 08:43] let4be commented on #312
I'm not sure I correctly understand the expected behavior of forward button,
should it just forward the whole thread to the list of emails specified in the `to` field(and `cc`, `bcc`)?

[2015-03-20 09:06] #316 closed

[2015-03-20 11:07] flixi commented on #312
Yes, and eithr encrypting them with a new public key or decrypting them.

[2015-03-20 11:15] flixi opened #317 "Reply button doesn't work properly"
Please make sure that stuff like the emails contents are indented with a line (html) or a > (plaintext) are displayed and sent upon hitting reply.

[2015-03-20 12:32] flixi opened #318 "Print output doesn't work"
If I type in cmd + p I get this as an output.
http://qs.lc/yyqjh
I would like it to print out the email that I just selected.
With our Logo ontop.

[2015-03-20 12:35] flixi commented on #270
Update?

[2015-03-20 12:43] let4be commented on #270
@flixi just checked and found few things:
1. Email with "M7Zm9udC13ZWlnaHQ6Ym9sZDsiPkjDpG5kbGVyPC9zcGFu"... is caused by some Mailer issue and has nothing to do with web - it simply came in this weird(base64) format from API
2. It looks like there was another issue with html emails - they came as fully declared pages, with head, body, title etc
Probably it could be better idea to display them in i

[2015-03-20 12:49] andreis commented on #273
http://lorempixel.com/

[2015-03-20 12:59] andreis opened #319 "Show which node served the assets"
Moved from https://github.com/lavab/api/issues/110

[2015-03-20 13:01] flixi commented on #319
https://github.com/lavab/web/issues/313

[2015-03-20 13:01] #319 closed

[2015-03-20 13:05] andreis commented on #313
Yeah, the header idea is the most practical imho

[2015-03-20 13:07] flixi commented on #280
Exchange send with sent with Lavaboom, please. Grammarnazi.

[2015-03-20 13:10] flixi commented on #273
I like lorempixel.

[2015-03-20 13:10] piggyslasher commented on #311
@let4be i'm not seeing this. not sure where youre seeing this bug. is anyone else seeing this?

[2015-03-20 13:12] flixi commented on #257
Yes, please enable this on click.

[2015-03-20 13:14] flixi commented on #256
Looks good.
Even on production. Tested with Safari on Mac OS X 10.10

[2015-03-20 13:14] #256 closed

[2015-03-20 13:15] flixi commented on #255
If you get to it, please change it. ;)

[2015-03-20 13:19] flixi commented on #235
Info?

[2015-03-20 13:20] flixi commented on #234
Status?

[2015-03-20 13:26] flixi commented on #140
Done? Including the functionality with the _Do not display again_ issue?
@let4be

[2015-03-20 13:26] flixi commented on #106
Status?

[2015-03-20 13:28] let4be commented on #140
yes, it's in develop

[2015-03-20 13:28] #140 closed

[2015-03-20 13:29] let4be commented on #318
This can be achieved with some css media query magic, I guess

[2015-03-20 13:37] #314 closed

[2015-03-20 13:39] flixi commented on #311
Nope.

[2015-03-20 13:40] let4be commented on #311
This thing appears only when you hover over links i.e. for example "Inbox" label
I'm uing chrome from windows

[2015-03-20 13:53] flixi commented on #311
Can't seem to reproduce.
Even though I tried under my vm in chrome running windows 8.1.
Neither in Safari with changed User Agent settings to Chrome Windows in the Developer toolkit.

[2015-03-20 13:56] piggyslasher commented on #311
just checked on chrome/win7 - cant replicate. are you having some customized setting for you status bar?

[2015-03-20 14:15] vLooz commented on #303
Design sheets are https://trello.com/c/61OAUNQF/40-303-contact-functionality

I'm aware that a lot of this is not MVP, but the basic key adding functionality should be implemented.
Please let me now via Slack, when you guys need feedback. Thx

[2015-03-20 14:16] piggyslasher commented on #318
yes. css media queries.

okay. will work on this over the weekend.

[2015-03-20 14:16] flixi opened #320 "Please add tooltips or titles to the buttons in compose window"
![bildschirmfoto 2015-03-20 um 15 14 11](https://cloud.githubusercontent.com/assets/707993/6753098/f4ecbc20-cf13-11e4-82fd-3679e39cac12.png)

"Add CC,BCC" "Send" "Discard" Make those i18n please.

[2015-03-20 14:49] flixi commented on #270
Sure, however this iframing things also makes for an interesting security debate, how easy is it to inject malicious code into the iframes?

[2015-03-20 15:20] piggyslasher opened #321 "images inside email (i.e. drag image into compose) takes 3+ minutes to decrypt"
I have a 145kb image that i dragged into an email and it didnt take this long the last time. is it because our keys are bigger now?

[2015-03-20 17:06] piggyslasher opened #322 "inbox keeps showing zero emails after i switch labels."
I just sent myself two emails and both were listed. But when I switch labels or refresh the page I lose my emails.

![image](https://cloud.githubusercontent.com/assets/1991125/6756681/6c8cbc10-cf66-11e4-8fa4-c1e690dcbd70.png)

Let me know If I am doing something wrong because I can't test my inbox styling now. Thanks.

This is on dev branch, which is working with .com api.

[2015-03-20 17:06] piggyslasher commented on #322
to add to that - sent messages are also empty

[2015-03-20 17:33] piggyslasher commented on #320
![image](https://cloud.githubusercontent.com/assets/1991125/6757185/22c81a58-cf6a-11e4-8c74-39e9fbd3ef6f.png)

will move all modals a few pixels down (i want to do this and check if i break anything but tooltip functionality is working)

[2015-03-20 17:33] piggyslasher commented on #320
@vLooz

[2015-03-20 18:13] piggyslasher opened #323 "style toggle buttons more perfectly"
![image](https://cloud.githubusercontent.com/assets/1991125/6757960/deacc93a-cf6f-11e4-8f86-6c6004711ca9.png)

[2015-03-20 18:15] piggyslasher commented on #280
going to assign to @let4be  to set `user.settings.isSignatureEnabled` to true - i can't find this in the angular

@let4be : `settings.profile.jade` file man, line `35` - you'll see the model user.

For now the toggle works. Once he fixes that this issue should be closed. I am creating another issue #323 for that.

[2015-03-20 18:35] let4be commented on #322
I'm looking into this, couldn't reproduce exactly this but found something else - probably related

[2015-03-20 18:52] let4be commented on #321
@piggyslasher most likely this is the problem because your browser uses plainjs openpgp implementation - its VERY slow
could you please try to reproduce the same issue and issue with slow key generation on mail.lavaboom.co? or on .com?

[2015-03-20 18:54] let4be commented on #322
Empty sent messages caused by API bug - nothing can be done here until it's fixed
Regarding empty Inbox it's weird, I could suspect some cache issue but if it was cache issue page refresh would fix it...

[2015-03-20 19:25] vLooz opened #325 "Contact UI completion + Improvements"
This are design mocks for some parts of the functionality, which where missing so far, e.g. adding and deleting a new contact and email-adresses, as well as public key display
![2015-03-17_contact_retouch add edit features-01](https://cloud.githubusercontent.com/assets/11177812/6759294/3b1f589e-cf3f-11e4-87cf-ae7899bc1bf9.png)
![2015-03-17_contact_retouch add edit features-02](https://cloud.github

[2015-03-20 19:30] vLooz opened #326 "Settings: key pair display design mocks"
Andrei asked me to improve the way, key pairs are displayed.
Please ask when you need more info about dimensions etc.

![2015-03-18_settings_keys_dialogs](https://cloud.githubusercontent.com/assets/11177812/6759371/d95f0388-cf3f-11e4-98f4-cfcd6e87b0f4.png)

[2015-03-20 19:46] andreis opened #327 "Gulpfile.coffee"
Would rewriting the Gulpfile in coffee be useful?

http://pem-musing.blogspot.de/2014/02/a-gulp-of-coffee-your-gulpfile-in.html

Just an idea.

[2015-03-21 05:48] piggyslasher commented on #320
going to close this as it doesnt hide on the top of the browser anymore. modal windows are now have more space on top to show stuff.

![Uploading image.png . . .]()

[2015-03-21 05:48] #320 closed

[2015-03-21 06:43] let4be commented on #327
No. I keep away from coffee and advice this everyone
But gulpfile needs some refactoring, cleanup and moving to es6, see https://github.com/lavab/web/issues/290

[2015-03-21 06:43] #327 closed

[2015-03-21 07:09] let4be commented on #322
Issue was tracked down to this:
https://github.com/lavab/api/issues/111

[2015-03-21 07:10] let4be opened #328 "Empty inbox after sending email to myself"
It gets server event but something goes wrong and it does now show new email inside Inbox

[2015-03-21 07:14] piggyslasher commented on #235
@flixi : info text has the circle 'i' next to it.

![image](https://cloud.githubusercontent.com/assets/1991125/6764151/e8020622-cfdc-11e4-8091-0cd93109f8fe.png)

Im guessing this is what you wanted @vLooz ?

closing for now. please reopen if not complete @vLooz

[2015-03-21 07:14] #235 closed

[2015-03-21 07:15] piggyslasher commented on #326
@let4be how do we proceed with this?

[2015-03-21 07:19] piggyslasher opened #329 "I think we should show who youre logged in as somewhere on the screen"
like "Logout Vik" in the logout area, or somewhere to indicate the current account. I believe this is quite important.

assigning to you @flixi so you weigh in.

[2015-03-21 07:19] piggyslasher commented on #329
@vLooz

[2015-03-21 08:13] let4be commented on #329
Support this, now it's hard to identify which account you are on.

[2015-03-21 08:21] let4be commented on #290
Last time I checked it was blocked by https://github.com/wearefractal/glob-watcher/issues/15
it's babel.js/gulp incompatibility, adding babel.js to gulpfile breaks gulp's watch system
it was marked as resolved but issue is still on the latest gulp version...

[2015-03-21 08:53] let4be commented on #312
@pzduniak I guess this need some API support, because else it's going 2 be a bunch of consequent API calls to emails.create

[2015-03-21 10:00] let4be commented on #311
Same thing happens from firefox, opera and internet explorer on my machine
When you hover links this things overlays and hides logout button
Solution: move logout button to the other place

[2015-03-21 10:01] let4be commented on #311
There was a idea somewhere to swap "Lavaboom 2015" and Logout button in places

[2015-03-21 10:30] piggyslasher commented on #311
i believe @vLooz wanted the logout button to be stuck to the bottom of the screen.

[2015-03-21 10:31] piggyslasher commented on #311
its more good for ux to bleed to the edge to the screen. but then again. i never saw this issue happen.

[2015-03-21 10:33] let4be commented on #311
have no idea why only I have this issue - it's the same on all browsers

[2015-03-21 10:57] piggyslasher commented on #311
slack has the logout button in the same place as well. i think this should just be left alone. its the the standard browser status bar.
![image](https://cloud.githubusercontent.com/assets/1991125/6764761/f4a1bf0c-cffb-11e4-84e3-3902dc60f1f5.png)
@flixi

[2015-03-22 10:45] vLooz opened #330 ""Put back to inbox" button needed for Spam and Trash"
Once I have deleted a mail or marked it as spam, I can't "unspam" or "undelete" it.
We need buttons for this!
An easy fix probably would be to put them into the v-dropdown menu in the left header.

Here are screens of the problem
![bildschirmfoto 2015-03-22 um 11 42 16](https://cloud.githubusercontent.com/assets/11177812/6769005/a5e42dcc-d088-11e4-94fa-7e5bfb61cff8.png)
![bildschirmfoto 2015-03-22

[2015-03-22 11:22] vLooz opened #331 "Hide Menu-items and Icons, until they working properly"
I think it might be confusing and frustrating, when the user sees e.g. the Drafts feature in the menu bar and expect them to be implemented, but they aren't.

Spam works one way, however I can't put a mail back to inbox, once it was moved to Spam. See issue #330.

In my opinion we should hide items in the menu bar and the connected icons in the left header until the regarding feature work properly

[2015-03-22 11:30] vLooz commented on #315
It's supposed to be the same functions @let4be.

I think it's not a bad thing to be able to delete a single mail from a thread.
Is that a technical problem?

We don't need the double STAR and SPAM though, I agree with you.
Get rid of them in the right header.

[2015-03-22 11:32] vLooz commented on #315
Github Bug... have to write the same thing again.

I agree with you. Get rid of the STAR and SPAM button in the right header

[2015-03-22 11:45] vLooz commented on #284
I don't know the effects this would have on security, but why don't we connect the key encrypting password always to the account password? Once the user changes the account pw, the keys get re-encrypted with the new one. All done.
The situation,  Sergei described above, could never occur.
What do you think @andreis @let4be ?

[2015-03-22 11:47] vLooz commented on #294
See #303 for styling

[2015-03-22 11:49] vLooz commented on #318
Is this really a MVP feature? Just wondering :)

[2015-03-22 11:57] vLooz commented on #329
I suggest to connect it with the Logout Button - like it's done in Slack.
We could also have a "change account" option here.

Is that technically feasible? @pzduniak @let4be

![bildschirmfoto 2015-03-22 um 12 54 29](https://cloud.githubusercontent.com/assets/11177812/6769236/e00c1ed8-d092-11e4-8afc-7c63bd6af124.png)

[2015-03-22 13:45] flixi opened #332 "SECURITY: I can view an entirely different mailbox"
So, here is the steps I underwent.
Logged in as hello@lavaboom.com. Logout.
Logged back in as felix, and this is what I saw.
![bildschirmfoto 2015-03-22 um 14 36 08](https://cloud.githubusercontent.com/assets/707993/6769563/435b3b28-d0a1-11e4-8e4c-1fe9f8f2739f.png)
This isthe Inbox from the hello account.
Triedd it now multiple times, and it seems to always be this result, if I log in as hello fir

[2015-03-22 13:46] flixi commented on #329
I like the idea, however regarding switching accounts that'S not an MVP feature.

[2015-03-22 13:47] flixi commented on #318
Yes, I need it in order to print some receipts, especially those from github and from harvest.

[2015-03-22 13:49] flixi commented on #331
THis should not be too much work!

[2015-03-22 13:50] flixi opened #333 "cmd+enter should send an email"
What happened to this?
Keyboard shortcut.

[2015-03-22 14:06] flixi commented on #311
I would leave this issue open for now. Let's see whether or not others also have the same issue.

[2015-03-22 16:17] piggyslasher opened #334 "include timeago into our app. right now its a bower component"
I need to heavily modify this to display the dates the way we need them to be. currently this is the only thing blocking me in the inbox threads list. Thanks :)

[2015-03-22 16:18] piggyslasher commented on #334
you can do this in my github-issues2 branch or develop. i've kept my branch up to date with develop.

[2015-03-22 16:39] piggyslasher commented on #318
almost complete. now displaying only the email with borders/shadows removed. only request not implemented is the logo on top. just the regular logo we're using now is fine yes?

[2015-03-22 16:48] piggyslasher commented on #318
okay, with logo now, but i think we need to use a different logo. maybe a black/white one.

[2015-03-22 16:52] piggyslasher opened #335 "sometimes upon refresh, we can see the email itself before the threads load."
![image](https://cloud.githubusercontent.com/assets/1991125/6770294/cd52cfee-d0f6-11e4-99e8-a26ca2e65c40.png)

not sure what to do with this one. should we force hide the email till threads load?

[2015-03-22 17:06] let4be commented on #335
We request data from API in parallel, so it's quite common to get mail list for thread before all threads for given label
We can of course hide emails until all threads are ready, but imho it's fine to see emails before threads loaded

[2015-03-22 17:49] piggyslasher opened #337 "dropdown styling"
![image](https://cloud.githubusercontent.com/assets/1991125/6770563/7f8317a8-d0fe-11e4-9a8b-8037097a705e.png)

- [ ] paddings
- [x] dropdown caret centering
- [ ] button click effect should be flat
- [ ] checkboxes need to be aligned to center of dropdown
- [ ] icon sizing almost there!

[2015-03-22 18:06] piggyslasher opened #338 "App becomes unresponsive for minutes when i open an email with an embedded image"
took 9 minutes to view this email. even loading spinner isnt shown as there's so much cpu being taken up by decoding the embedded image.

possible solution
- store img's src as another variable in email or as an array of variables.
- load/decrypt email, then put the loading indicator in place of images while the src is being decoded
- set decrypted src attribute of image after decrypting image.

i

[2015-03-22 18:16] piggyslasher commented on #333
the mapping seems to be there... somehow its not firing. hope its not textangular catching the event.

[2015-03-22 18:21] let4be commented on #338
As I said before such kind of issues are related with fall back to plain js openpgp(instead of web crypto) implementation, no need to open ticket for each one ;)

[2015-03-22 18:21] #338 closed

[2015-03-22 18:24] piggyslasher commented on #338
tab goes blank but it still using cpu on emails with multiple images

[2015-03-22 18:25] piggyslasher commented on #338
sorry! i forgot the dupe.

[2015-03-22 18:35] let4be opened #339 "Display a warning if webcrypto isn't available"
There is a case when user's browser doesn't support webcrypto(or it's disabled) and openpgp fallbacks to plain-js implementation.
Nothing can be done there when this happened - all actions will be very slow(key generation, encrypting and decrypting) especially if email is big(contains embedded images for example)

I think we need to warn a user somehow

[2015-03-22 18:36] let4be opened #340 "Debug a case when openpgp fallbacks to plain-js"
The support is available but on some machines it fallbacks to plain-js

[2015-03-22 18:36] let4be commented on #338
added separate issues with more details
https://github.com/lavab/web/issues/339
https://github.com/lavab/web/issues/340

[2015-03-22 18:37] let4be commented on #321
added separate issues with more details
https://github.com/lavab/web/issues/339
https://github.com/lavab/web/issues/340

[2015-03-22 18:37] #321 closed

[2015-03-22 20:34] andreis commented on #329
:+1:

[2015-03-22 20:35] andreis commented on #284
For MVP we can assume people can't have different encryption passphrases, but in the future we want ot allow power users to set a different passphrase for some keys if they want

[2015-03-23 07:10] let4be commented on #329
implemented, if this needs additional styling open new issue

[2015-03-23 07:14] let4be commented on #333
The hotkey is defined but textangular intercepts it...

[2015-03-23 07:28] let4be commented on #333
Not easy to fix this, will require deep investigation of why this happens

[2015-03-23 08:18] #334 closed

[2015-03-23 08:22] let4be commented on #330
um, to implement this we first need to know original label of the thread
For example it could be SENT only or INBOX only

another solution would be not remove original labels when we move thread to SPAM/TRASH just filter out such threads client side

[2015-03-23 08:54] let4be commented on #330
api modification required for proper implementation: https://github.com/lavab/api/issues/113

[2015-03-23 08:56] let4be commented on #330
Filtering could be done on client side but it over-complicates things(and kills performance) as we rely on offset/limit and this will break if perform client-side filtering, i.e. we will have to make subsequent request(s) without any guarantees.

[2015-03-23 09:35] #328 closed

[2015-03-23 09:36] #322 closed

[2015-03-23 09:38] #315 closed

[2015-03-23 09:39] #309 closed

[2015-03-23 09:41] let4be commented on #297
It seems to be fixed in develop during recent updates, if it's not - reopen

[2015-03-23 09:41] #297 closed

[2015-03-23 09:43] let4be commented on #332
It seems to be fixed in develop during recent updates, if it's not - reopen

[2015-03-23 09:43] #332 closed

[2015-03-23 09:48] let4be commented on #340
Regarding @piggyslasher report this has been caused by:
http://www.chromium.org/Home/chromium-security/prefer-secure-origins-for-powerful-new-features

i.e. openpgp uses web worker in order to perform crypto calls(key generation, encryption, decryption) and on develop they are being hosted on unsecure origin...
so basically this is develop only problem

[2015-03-23 09:50] let4be commented on #340
Why this happens on his machine but it doesn't on mine?
Because of this:

(https, *, *)
(wss, *, *)
(*, localhost, *)
(*, 127/8, *)
(*, ::1/128, *)
(file, *, —)
(chrome-extension, *, —)

I access my development configuration on localhost(I have gulp running inside VM with proper NAT setup)

[2015-03-23 09:50] #340 closed

[2015-03-23 09:50] let4be commented on #340
So basically solution to this problem is accessing Lavaboom on localhost when you running develop build locally.

[2015-03-23 09:52] let4be commented on #340
You can setup NAT if you run inside VM
or simply alert web/gulp/config.js with proper values for
livereloadListenAddress: '127.0.0.1',
listenAddress: '127.0.0.1'
and add this to .gitignore!

[2015-03-23 10:10] let4be commented on #331
Spam is basically ready and can be included in the MVP, just need one API feature implemented:
https://github.com/lavab/api/issues/113

[2015-03-23 10:23] let4be commented on #296
Impossible to track down without logs, please reopen if it happens again with logs attached

[2015-03-23 10:23] #296 closed

[2015-03-23 10:37] let4be opened #341 ".icon-map isn't implemented"
We need this icon to indicate that thread is unread(before I displayed a stub)
https://github.com/lavab/web/blob/develop/src/blocks/inbox/_threads.jade#L40-40

[2015-03-23 11:41] vLooz opened #342 "Reduced Mail display for MVP: without 2 lines of mail content preview"
The 2 lines of mail content preview are not possible for MVP, so we don't show them.

To avoid touching an issue more times than necessary however, I'd suggest to implement the Mail list view UI design as close as possible to the final version.
Just do not show the mail preview. It will leave a blank space then, but we can just fill it once we have the preview functionality in place.

Your ideas @

[2015-03-23 14:42] flixi commented on #335
Yes, please do that, as it seems odd to the average user.

[2015-03-23 14:45] flixi opened #343 "UX: Make the User wait and see his mumbled message"
Only close the compose window when User's Email is already displayed as mumbo jumbo...
Like this:
https://www.youtube.com/watch?v=pHGZQ5Xo71Y
Legacy App.

[2015-03-23 15:57] piggyslasher commented on #273
we should just use a shaded div that we have text inside saying no image. no extra overhead. no external reliance. i18h. let me do this first. i have had some issues with lorempixel before. plus again - reliance on a 3rd party that knows your ip.

[2015-03-23 16:34] andreis commented on #273
Sorry, I wasn't being serious with lorempixel, obviously.

Just follow Gmail's lead, they use a banner and empty divs where the images were, we could have something subtle like a "image blocked" label.

![gmail blocked images](https://cloud.githubusercontent.com/assets/1249760/6784908/c6915dc4-d182-11e4-8da2-c3c6b5a60953.png)

[2015-03-23 16:47] piggyslasher commented on #341
using .icon-read. it works on my branch. will push this.

[2015-03-23 16:56] piggyslasher commented on #318
@vLooz - can you have a quick check on the output? wanna close this. main this that remains is the logo that looks very print-unfriendly.

also there's a lot of improvements that can be done

  - set font to helvetica, arial
  - unstyle links (maybe we shouldn't unstyled completely, but maybe make it a lighter gray)
  - maybe show attachments as a normal list

but for now, for MVP, please give me

[2015-03-23 16:59] let4be commented on #343
hm, good idea ;)
Will handle this

[2015-03-23 17:05] #341 closed

[2015-03-23 17:06] piggyslasher commented on #237
@let4be changed the position. i've centred it and it looks fine. closing. please reopen if any issues.

[2015-03-23 17:06] #237 closed

[2015-03-23 20:08] flixi commented on #339
Yes, but I would only display it if the browser does not support this. But I like the idea.

[2015-03-23 20:13] flixi commented on #318
where is it implemented?

[2015-03-23 20:16] flixi commented on #302
Status @andreis?

[2015-03-23 20:20] flixi commented on #286
@pzduniak Please provide some kind of information.

[2015-03-23 20:22] flixi commented on #284
Not MVP.

[2015-03-23 20:24] flixi commented on #279
Status?

[2015-03-23 20:25] flixi commented on #279
We need to make sure that the user's integrity is not compromised though.

[2015-03-23 20:27] #277 closed

[2015-03-23 20:30] flixi commented on #273
I like @andreis 's idea very much.
Keep it as close to the original as possible.
Though do we wantto add a button or a line of text saying to display images this once?

[2015-03-23 20:37] flixi commented on #216
@bilbof
Can you go thruogh this file again?
https://github.com/lavab/web/blob/master/src/translations/en.toml

[2015-03-23 20:38] flixi commented on #166
Do you need anything else for this?

[2015-03-23 20:42] flixi commented on #342
I like the idea. It leaves room for the future.

[2015-03-23 20:44] flixi commented on #335
Should not make too much work, if it does though please do not do it.

[2015-03-23 20:47] flixi opened #344 "Empty trash button"
I can't seem to empty my trashcan.

[2015-03-23 21:08] flixi commented on #274
Yes, these are duplicates and offer the same functionality, so we decided to remove those.

[2015-03-23 21:14] flixi commented on #323
https://github.com/lavab/web/issues/253

[2015-03-23 21:14] #323 closed

[2015-03-23 21:17] flixi commented on #229
Status? @piggyslasher

[2015-03-23 23:59] piggyslasher commented on #318
its already in the main develop branch. just press ctrl+p

[2015-03-24 07:39] #343 closed

[2015-03-24 08:10] #335 closed

[2015-03-24 08:31] let4be commented on #270
Empty emails tracked down to the following:
normally it happens on very complex html pages due to invalid html present inside them. We use angular.js sanitizer first in order to make emails's content safe and when email contains weird html markup it kills sanitizer...

[2015-03-24 08:50] let4be commented on #270
Good haul here, I've found a bunch of issues in email processing/filtering code
Going to spend few more hours on this

[2015-03-24 10:01] andreis commented on #279
We're gonna have a log management system on openstack, the question is how to send logs from the front end.

I suggest a "Report error" button that can be enabled/disabled in the Settings. Clicking the button warns the user that we'll send anonymized console logs to our servers, then proceeds to do so.

[2015-03-24 10:02] andreis commented on #302
No idea. @vLooz ?

[2015-03-24 10:06] let4be commented on #279
thing is: to be able to reproduce some kind of errors only error message and stacktrace is not enough, full logs required

[2015-03-24 10:11] let4be commented on #279
also one another thing is making me sad: we still do not have proper stacktraces,
stacktrace + transpiling we use + source maps = mumbo jumbo

I have no idea how to solve this issue, I've tried all possible ways - nothing helps, most likely this is browser related thing

It stills possible to locate the code in transpiled source but it takes more time

[2015-03-24 11:32] andreis commented on #279
Helps?

* http://stackoverflow.com/questions/25827234/how-to-debug-javascript-promises
* https://github.com/soareschen/es6-promise-debugging/blob/master/README.md

[2015-03-24 11:34] andreis commented on #279
Most likely people will report bugs in `prod`, so it might be an idea to switch the output of the logging from `console` to something that can be read at runtime (i.e. just store it in an array or something).

[2015-03-24 12:42] let4be commented on #270
@flixi pls try again with the emails you're having issues with

[2015-03-24 12:42] let4be commented on #270
update currently is on mail.lavaboom.co

[2015-03-24 13:22] let4be commented on #339
I'm going to show this both in main and login/signup applications
+ there will be a similar check for web worker support

[2015-03-24 14:32] #339 closed

[2015-03-24 14:38] let4be opened #345 "Style notifications"
I've added notifications support for showing that user's attention required
Currently it displays warning if user has no proper support for web crypto or web workers

see:
https://github.com/lavab/web/blob/develop/src/index.jade#L49-49
https://github.com/lavab/web/blob/develop/src/blocks/inbox/emails.jade#L8-8

Need to design how it should look like && style this, currently it's just a draft

[2015-03-24 14:40] let4be commented on #345
What do we have now:
![image](https://cloud.githubusercontent.com/assets/4147061/6804089/bf3939fa-d24c-11e4-828e-84984bda1792.png)

and

![image](https://cloud.githubusercontent.com/assets/4147061/6804100/d8370e14-d24c-11e4-8f44-632a161b0ffb.png)

[2015-03-24 14:43] let4be commented on #344
I'm going to slighty reimplement stuff right after:
https://github.com/lavab/api/issues/113

[2015-03-24 14:45] let4be commented on #302
Let's decide what format do we want to see and where
Currently we have custom key export/import format and I would suggest to keep it but add a separate export action for keys that are going to be imported on such services as https://pgp.mit.edu

[2015-03-24 14:46] let4be commented on #302
Probably this should be available from settings && contacts pages only

[2015-03-24 14:55] let4be commented on #300
Closing this as I cannot reproduce the issue and there are no relevant logs available - please reopen if this appears again

[2015-03-24 14:55] #300 closed

[2015-03-24 15:00] #280 closed

[2015-03-24 15:05] let4be commented on #257
Why this assigned to right click:
- on compose screen left click is bound too "untag the item and allow user to edit it", this is handy feature imho
- on email screen left click on email address already opens compose view with this email

+ it's more intuitively to have context menu on the right click and action on the left
Let me know what do you think @flixi, @vLooz

[2015-03-24 15:06] let4be commented on #257
If we're fine with right click we can close this

[2015-03-24 15:07] piggyslasher commented on #280
sweet. thanks.

[2015-03-24 15:13] andreis commented on #302
Let's wait for FvL's designs.

[2015-03-24 16:41] let4be commented on #310
not blocked, just need to do the same on API side

[2015-03-24 17:41] piggyslasher opened #346 "attachment icon wont show in thread list"
![image](https://cloud.githubusercontent.com/assets/1991125/6808614/ee5fd598-d28f-11e4-8397-0f2803946027.png)

its because
```thread.attachmentsCount : undefined```

even in the email you sent to me @let4be, which has 2 attachments - not sure if this is you or @pzduniak - pls assign accordingly :)

[2015-03-24 18:46] vLooz commented on #329
What do you guys think about this apporach @flixi @bilbof @andreis ?
![new user logout area](https://cloud.githubusercontent.com/assets/11177812/6809989/5a8dee8a-d25e-11e4-906e-ad8aadf4b216.png)

[2015-03-24 18:58] let4be commented on #329
Looks good, @piggyslasher style this when you get time

[2015-03-24 21:46] #329 closed

[2015-03-24 22:22] piggyslasher commented on #318
multi-page print output needs to be fixed. will work more on it tomorrow

[2015-03-24 22:24] piggyslasher commented on #342
getting there :) I've also made a lot of the dimensions follow your mock exactly
![image](https://cloud.githubusercontent.com/assets/1991125/6814201/812b7536-d2b7-11e4-8132-0c1d4ba92725.png)

[2015-03-24 22:24] piggyslasher commented on #301
#342

[2015-03-24 22:26] piggyslasher commented on #342
will mark this complete and work in #301

[2015-03-24 22:26] #342 closed

[2015-03-24 22:28] piggyslasher commented on #301
ive updated a lot of font-weights as well. have a check on that too. so now we have light, medium and regular on both retina and non-retina. just tested it. looks nice :)

[2015-03-24 22:30] piggyslasher commented on #255
@flixi i can remove those extra's that @vLooz has crossed off. You wanted blockquote though - is that necessary?

[2015-03-24 22:31] piggyslasher commented on #255
@vLooz - so the 'A' button just makes the editor dissapear and allow sending of a blank email?

[2015-03-24 22:33] piggyslasher commented on #274
closing this for now as #301 is open and covers this.

[2015-03-24 22:33] #274 closed

[2015-03-25 08:15] let4be commented on #346
https://github.com/lavab/api/issues/116
Okay, first it was renamed on API side from attachments_count to files_count, but it still doesn't work. Going to take count from the manifest

[2015-03-25 08:18] #346 closed

[2015-03-25 08:41] let4be opened #348 "gulpfile improvements"
- [x] If there was js linting error on some file it should be excluded from cache to trigger linting errors on future builds else it fails silently
- [x] english i18n should trigger recompile of scripts as it's being inlined
- [x] integrated bower install sometimes fails(while CLI "bower install" works)
- [x] upgrade to es6
- [ ] integrate http://jscs.info/ for auto code formatting regarding speci

[2015-03-25 08:49] #310 closed

[2015-03-25 08:55] let4be commented on #270
@flixi ?

[2015-03-25 09:34] let4be commented on #313
now web reads X-Powered-By header ;)

could be useful for further customization:
https://github.com/lavab/web/blob/develop/src/translations/en.toml#L11-11
https://github.com/lavab/web/blob/develop/src/blocks/inbox/emails.jade#L7-7
https://github.com/lavab/web/blob/develop/src/index.jade#L48-48

[2015-03-25 09:34] #313 closed

[2015-03-25 09:38] flixi commented on #270
I can't as long as the forward feature doesn't work.

[2015-03-25 09:40] let4be commented on #270
Just check how your emails look like(especially the one you had problem with before)
I've tried new code on some complex emails and it worked fine, probably this solved issue with some of your emails too.

[2015-03-25 11:39] flixi commented on #270
I would but all the emails I had issues with are on .com

[2015-03-25 12:05] let4be commented on #270
oh... and we have deployment temporary unavailable due to infrastructure update
okay, we will back to this later then

[2015-03-25 12:24] bilbof opened #349 "Encryption keypair must be decrypted at every login with Sync enabled."
Every time I login I have to go to Settings:Keys and decrypt my keypair. However my keypair is already in my browser cache so this shouldn't be necessary.

[2015-03-25 13:09] let4be commented on #349
It entirely depends on "this is private PC" checkbox you see when you login.

Basically when Sync is enabled it simply means that we will store a copy of *encrypted* private key on the server side.
So when you login for the first time with "remember me" ticked web client remembers the *authentication token* it gets from the server not the plaintext password(security reasons)

So when your decrypte

[2015-03-25 13:11] let4be commented on #349
In summary:
when you have Sync enabled and login with "this is private PC"(not ticked)  && "Keep me logged in"(ticked) it will remember you but won't save decrypted private key longer than for one browser session.

[2015-03-25 13:21] let4be commented on #349
probably we could show some warning or make such behavior not default(for pro users only)
ideas welcomed
@andreis @flixi

[2015-03-25 13:35] bilbof commented on #349
Ah, this is pretty unclear, but I got it to work. There's no point keeping you logged in if you have to type in your password again, right?

Could we remove the tickbox 'keep me logged in' at login?
Possible replacement is a prompt the first time user logs out of service with options 'keep me logged in' + 'log me out'. The prompt would inform users that they're going to be kept logged in.

Is this

[2015-03-25 13:45] andreis commented on #349
I'm also in favour of removing the "keep me logged in" field, especially since we have such a large and obvious logout button.

[2015-03-25 14:09] let4be opened #350 "Reply to misunderstanding? / Moving reply buttons to new position"
Currently we have those 3 buttons
![image](https://cloud.githubusercontent.com/assets/4147061/6826302/825708b2-d311-11e4-9d50-08a16c10bcd1.png)

"reply to", "reply to all emails" and "forward thread"
It's all good and nice but how am I going to use "reply to" button to reply to some **particular** email

I think "reply to" button should be located inside each email

@vLooz, @andreis , @flixi ?

[2015-03-25 14:12] flixi commented on #349
In terms of security it makes more sense to logout the user and to not allow him or her to be kept login.
Therefore I am 1 in favor of removing the keep me logged in functionality at the beginning and further more to do not display any prompt ever!

[2015-03-25 14:18] let4be commented on #349
So if I understood correctly:
- remove "remember me" checkbox
- treat "this is private computer" as "remember me"
basically if computer is not private there is not reason to remember user ;)

[2015-03-25 14:20] bilbof opened #351 "Do we need the Spam folder and Spam menu item before spam filtering is implemented?"
Right now the user experience is the same for spam.
1. Get spam
2. Hit button to move spam to other folder ( :recycle: / :put_litter_in_its_place: or :no_entry_sign: )
3. Spam goes to another folder

There's no filter with spam assassin set up yet, maybe we should wait until it's ready before providing 'mark as spam' as an option? It implies we're ready to deal with it.

I know @andreis thinks we

[2015-03-25 14:21] flixi commented on #349
Yes. ;)

[2015-03-25 14:27] piggyslasher commented on #340
hrmm. things _do_ seem faster. sadly, it still takes about 45s - 1min seconds to decrypt emails with images.

[2015-03-25 14:28] let4be commented on #340
@piggyslasher do you see any warnings displayed?

[2015-03-25 14:40] bilbof commented on #331
Haha, @vLooz you're 3 days ahead of me.  https://github.com/lavab/web/issues/351

[2015-03-25 14:42] vLooz commented on #351
Agreed@bilbof
From a UX pov I'd definitely take out everything from the Interface, that is not working yet.

[2015-03-25 14:42] bilbof commented on #351
:+1:

[2015-03-25 14:49] piggyslasher commented on #311
i've changed it to a <button> tag and moved it back to the bottom. works.

[2015-03-25 14:51] bilbof commented on #311
Haha, this is why the logout button is 10px from the bottom of the page?

[2015-03-25 14:51] #311 closed

[2015-03-25 14:53] flixi commented on #351
Spam filtering works!
![bildschirmfoto 2015-03-25 um 15 27 43](https://cloud.githubusercontent.com/assets/707993/6827313/0c19769e-d307-11e4-9fe6-caf1ebbeb26f.png)

[2015-03-25 14:55] bilbof commented on #351
Awesome! :+1:

[2015-03-25 14:57] #351 closed

[2015-03-25 15:15] bilbof commented on #351
Did you email Susan back? Sounds like a sweet deal.

[2015-03-25 15:46] bilbof opened #355 "mail-list-group's isLoadingSign stays visible after emails are loaded."
![screen shot 2015-03-25 at 16 43 33](https://cloud.githubusercontent.com/assets/8124374/6828491/801a8bf8-d30e-11e4-98b9-438ca6e66634.png)

[2015-03-25 15:53] let4be commented on #355
This supposed to be fixed in develop
where did you test? CD is currently broken and mail.lavaboom.co has some ancient version on it...

[2015-03-25 16:01] piggyslasher opened #356 "cannot scroll to bottom of the mail view"
![image](https://cloud.githubusercontent.com/assets/1991125/6828899/17383a58-d34b-11e4-9e8a-d25a33c891ec.png)

check height of details pane - somethings wrong. probably need to set height of parent to 100%

[2015-03-25 16:15] vLooz commented on #345
What is web crypto and web workers and what is it used for? @let4be

[2015-03-25 16:25] piggyslasher commented on #345
its a script that is available in newer versions of browsers. without it, standard javascript is used to decrypt the email. and this can sometimes take minutes for an email with a small image in it.

basically, its a warning to the user saying 'Webcrypto not found. Decrypting may take a long time.'

alternative ways of saying it:
'Lavaboom may run slowly (why?)' - and link 'why' to another page on

[2015-03-25 16:54] vLooz commented on #345
Does Webcrypto comes automatically with up to date browsers or do users need to install it manually?

[2015-03-25 16:56] let4be commented on #345
In modern browsers both should be enabled by default.

There is also a development-only case when some functions aren't available due to lavaboom is being accessed via wrong address(such as 0.0.0.0, instead of proper domain name with https support or localhost)

[2015-03-25 16:56] let4be commented on #345
http://caniuse.com/#feat=cryptography
http://caniuse.com/#feat=webworkers

[2015-03-25 16:59] vLooz commented on #345
Ok, for those older browser, where this is not available, what can the user do to change it?

[2015-03-25 17:13] let4be commented on #345
upgrade ;)

[2015-03-25 17:28] vLooz commented on #345
How about this?
![webcrypto slow notification](https://cloud.githubusercontent.com/assets/11177812/6830817/ae9dd864-d31c-11e4-98ec-36ec1506dc78.png)

[2015-03-25 17:33] piggyslasher commented on #345
sadly, you wont be able to see that message in that position, because once the email starts decrypting without webcrypto, all other javascripts on the page stops running. you cant click on anything neither can we display or do anything - everything stops working during this state. for now, i think show a prompt with an ok button upon login would be the most ideal solution. or even during login, we

[2015-03-25 17:37] piggyslasher commented on #345
i think it should just be an extra step after login saying

*Your browser doesn't support WebCrypto*
Please upgrade your browser or use one of the following:
<list browsers>
_You can still use Lavaboom. Please note that decrypting emails with images may take some time_
[Proceed] [Cancel]

[2015-03-25 18:14] piggyslasher opened #357 "how should we show email threads that are partly encrypted?"
![image](https://cloud.githubusercontent.com/assets/1991125/6831789/826eb4ac-d35d-11e4-930b-84cef4d6c0f9.png)

currently we show lock / unlock combination. not sure how to proceed? should we just show an unlock icon?

[2015-03-25 18:29] piggyslasher commented on #345
however we _do_ need to show notifications. informative notifications, that don't require user interaction. such as the one you see when you save/update a contact.

[2015-03-25 18:51] let4be commented on #357
Actually I think this is not even supported API wise - it was just somewhere in initial thoughts
now when we have at least one unsecured destination in the from/cc/bcc we send email as unencrypted

[2015-03-26 02:15] andreis commented on #350
Or just do what Mailbox does and do both. Email-specific buttons can be visible on hover (desktop) or when viewing a particular email (touchscreen), thread-specific buttons reply to / forward the last email in the thread.

[2015-03-26 08:26] let4be commented on #350
hm... I thought "Forward to" should forward the whole thread
@andreis ?

[2015-03-26 10:03] vLooz commented on #350
I agree with @andreis, In this case we should have the 3 buttons inside every mail. Let me create a mock

[2015-03-26 11:41] flixi commented on #350
Nope, forward should definitely engulf the whole thread up until the email selected.
It might happen that I do want to forward a specific part of a conversation to a tird party without compromising the whole conversation.

Soo, I agree with @andreis regarding the hover or selected emails fields.

[2015-03-26 11:46] flixi commented on #357
Yes, that means that in theory the whole email can be read if there is one receiver who cannot receive encrypted emails.

[2015-03-26 12:03] vLooz commented on #350
Here you go. Note that I moved the remaining "move to trash" icon to the left and combined them with the icons from the left header. Would that be an easy or big change for you guys? @let4be @piggyslasher

![2015-03-26_move 3 buttons into mail-01](https://cloud.githubusercontent.com/assets/11177812/6845770/2f18d818-d3b8-11e4-8c6c-27a5c6dccd66.png)
![2015-03-26_move 3 buttons into mail-02](https://

[2015-03-26 12:36] flixi commented on #345
I like the idea from @piggyslasher to include a thing right after login with the user being able to sign out if he choses to do so...

[2015-03-26 12:37] flixi commented on #350
Awesome work, as always, I'm really really impressed.

[2015-03-26 12:38] flixi commented on #356
Same here.

[2015-03-26 12:39] flixi commented on #355
It's on .com

[2015-03-26 12:42] flixi commented on #255
Nah, I don't need blockquote. @piggyslasher

[2015-03-26 12:43] flixi commented on #318
:thumbsup:

[2015-03-26 12:45] flixi commented on #257
Yes, right click is fine.

[2015-03-26 12:51] flixi commented on #279
A few users will also be allowed on `staging`so it might not be only `prod` who's going to report bugs.

[2015-03-26 12:54] flixi commented on #279
I like your ideas @andreis. However we need the ability and make sure to inform the user of things such as personal information may be transmitted. But we will keep all the info personal and delete the logs as soon as the issue seems to be fixed.

[2015-03-26 14:25] piggyslasher commented on #345
then we shall just make the webcrypto notification after login.

@let4be just add the class '.navbar-text' if you wanna display notifications in the black area :) its a toolbar that auto-resizes the text.

_edit_
but i found where you're doing the notifications now. i just need to edit /services/notifications.js ya?

[2015-03-26 14:43] piggyslasher commented on #350
so am i :) but whats the deadline for this. it super easy moving the buttons in the action bar (black bar on top) but the 3 buttons at the bottom of the email - mvp? tomorrow?

[2015-03-26 14:44] piggyslasher commented on #350
and super thanks for the measurements @vLooz

[2015-03-26 14:45] piggyslasher opened #358 "style attachments as per @vlooz new mockup"
not yellow, but gray with a shadow.

[2015-03-26 14:46] piggyslasher commented on #350
#358 i've created a new issue about the attachments styling because thats easy. i can do that by tomorrow. please mark this with a version deadline so i'll know. thanks.

[2015-03-26 14:48] piggyslasher commented on #356
sorry about this. i know the solution, just want to cleanup the code - there's too much unwanted html nesting. will fix by tomorrow/friday.

[2015-03-26 14:48] vLooz commented on #273
This is a scheme, where we could show notifications like this.
For informations that are just regarding the attachments, a specific "encrypted-looking" attachment icon -see 5) - would be most intuitive from a UX pov. If thats technically possible, the user could decide wether to open the attachment right now (clicking icon, decrypting progress circle appears over icon until it's done) or later. Wh

[2015-03-26 14:50] piggyslasher commented on #357
so boss, we show two icons? or just the unlocked one.

[2015-03-26 14:50] piggyslasher commented on #357
sorry, @flixi

[2015-03-26 15:25] vLooz commented on #350
What do you guys think, is this MVP or not? @flixi @andreis

[2015-03-26 15:28] vLooz commented on #357
On the long run, we want the user to feel save once s/he sees the closed lock icon and a bit unsafe when there is open lock. Ideally the user would feel the need to invite the unsafe contacts to Lavaboom too ;-)
2 locks would be confusing here. I'd go with the open lock!

[2015-03-26 15:31] vLooz commented on #273
![webcrypto slow notification_5](https://cloud.githubusercontent.com/assets/11177812/6849805/95fd35de-d3d5-11e4-8746-0bba71c65bbc.png)
![webcrypto slow notification_4](https://cloud.githubusercontent.com/assets/11177812/6849806/975045e8-d3d5-11e4-95ff-6110bb50b5a2.png)

[2015-03-26 15:44] vLooz commented on #286
I'll create a design mock

[2015-03-26 16:31] piggyslasher commented on #357
got it. and we're going with gray all the way ya? no more blue/orange? if yes, im gonna remove the code for that. :)

[2015-03-26 17:11] vLooz commented on #286
Before I dive into the UI, here a proposal for the UX. What do you think @flixi @andreis @bilbof ?
![286 wipe account dialogue](https://cloud.githubusercontent.com/assets/11177812/6852206/76eeb20e-d3e3-11e4-9103-f5ddf8905d2a.png)

[2015-03-26 17:42] vLooz commented on #357
blue = safe / locked icon
grey = unsafe / unlocked icon

[2015-03-26 18:00] piggyslasher opened #359 "please re-iterate the steps to setup the system locally"
i really wanna do this in one command. im sure @let4be can give me some ninja command here. this is actually for @vLooz to get this working on a fresh mac.

first lets clone the repo

```git clone https://github.com/lavab/web.git```

then lets checkout `develop`

```git checkout develop```

then lets install `gulp` globally

```npm install --global gulp```

then

```cd ~/web/ && npm install && gul

[2015-03-27 08:47] let4be opened #360 "Style email replies"
I've implemented 'reply to' email and 'reply to all', please see:

direct email:
https://github.com/lavab/web/blob/develop/src/blocks/inbox/directEmail.jade#L1-1
replied email:
https://github.com/lavab/web/blob/develop/src/blocks/inbox/repliedEmail.jade#L1-1

We need to style this accordingly:
- collapsable signature(if there was a signature attached)?
- replies collapsed by default?

@vLooz, @pig

[2015-03-27 08:55] let4be commented on #359
I just cloned the repo and made a fresh install - everything works as expected
Please make sure you installed **all** npm dependencies, there are lots of them and if it failed to install one due to some network error it can cause weird errors.

we have mimelib listed in package.json

[2015-03-27 08:55] #359 closed

[2015-03-27 08:57] let4be commented on #350
I already moved reply to, reply to all, forward buttons inside each email ;)
Some styling required though @piggyslasher

[2015-03-27 09:14] let4be commented on #359
Hm, it seems
running "bower install" before "gulp" could help

[2015-03-27 09:15] let4be commented on #359
For some weird reason it fails in part of tries without this(gulp has built-in bower install, but it seems to have some issues)

[2015-03-27 09:16] let4be opened #361 "gulpfile.js: integrated "bower install" fails"
background: https://github.com/lavab/web/issues/359

[2015-03-27 09:16] let4be commented on #361
IN the same time running a separate "bower install" fixes the problem

[2015-03-27 09:54] andreis commented on #350
Not really MVP, but good to have, so work on it if you don't have anything else to do

[2015-03-27 09:56] andreis commented on #273
1. Receive 100 photos.
2. Now you have something fun to do for the afternoon!

Jokes aside, add a "decrypt all attachments" button or something

[2015-03-27 10:19] #333 closed

[2015-03-27 10:38] #349 closed

[2015-03-27 10:39] let4be commented on #348
https://github.com/lavab/web/issues/359

[2015-03-27 10:39] let4be commented on #361
added to https://github.com/lavab/web/issues/348

[2015-03-27 10:39] #361 closed

[2015-03-27 10:40] let4be commented on #290
moved to https://github.com/lavab/web/issues/348

[2015-03-27 10:40] #290 closed

[2015-03-27 10:45] vLooz commented on #273
:D you are right, didn't think about that.

[2015-03-27 10:55] vLooz commented on #360
@let4be collapsed signature is a good idea. Will work on that.
I'd suggest to have collapsed signatures only when replying though, otherwise users could get the feeling, their signature isn't there in the first place.

[2015-03-27 11:49] let4be commented on #166
Just started looking into this problem, I will do more tests today-tomorrow

[2015-03-27 12:54] flixi commented on #166
:thumbsup: But please do not focus on it as it's only 2.1 focus on 2.0 issues for now!

[2015-03-27 12:58] flixi commented on #273
:thumbsup:

[2015-03-27 13:05] flixi commented on #358
https://github.com/lavab/web/issues/273

[2015-03-27 13:12] flixi commented on #286
I'm not sure, whether or not we want to make the user go through so many steps just to delete his or her account. I think it's a dark pattern.
On the one hand we don't really wan them to leave but on the other hand it's really annoying to have to go through so much trouble just to delete your account.
So I'd skip the part where you have to click on yes again... But otherwise I like it.

[2015-03-27 13:21] vLooz commented on #286
Alright. Will do the styling then.

[2015-03-27 13:33] flixi commented on #270
https://gist.github.com/flixi/d1d5818ab906c4dc6cd5
![bildschirmfoto 2015-03-27 um 14 31 02](https://cloud.githubusercontent.com/assets/707993/6868713/22f899a2-d48e-11e4-97f1-92491bd42819.png)
![bildschirmfoto 2015-03-27 um 14 31 27](https://cloud.githubusercontent.com/assets/707993/6868717/273b7cc8-d48e-11e4-8bcf-1dc65b266284.png)

[2015-03-27 13:56] let4be commented on #166
Thing is most of my 2.0 opened issues are blocked now

[2015-03-27 13:56] let4be commented on #166
I can't even test "reply to" functionality because Mailer isn't working

[2015-03-27 13:57] let4be commented on #317
I've added "reply" and "reply to" but can't test it - Mailer is dead

[2015-03-27 14:32] let4be opened #362 "Unit tests for important crypto operations"
Could be nice to have unit tests for:
- [ ] key generating
- [ ] encrypting
- [ ] decrypting

and make tests execute as a separate gulp task

[2015-03-27 14:57] let4be commented on #270
We don't have recent updates with fixes deployed afaik

[2015-03-27 16:09] kliment opened #363 "How does the browser verify that your js has not been tampered with?"
It's very good that you have your code on github, but how can I know that that is the same code that is running on my machine when I use your site? If you were compromised or evil, you could easily modify the code to send you the private key and key passphrase. I wouldn't know of the modification unless I manually checked the js line by line. When using client-side encryption, I have to be absolut

[2015-03-27 16:19] pzduniak commented on #363
We plan to develop a set of browser extensions that will verify hashes of loaded JavaScript, but first we're going to sort out basic functionality and fix most of the existing issues.

[2015-03-27 17:03] vLooz commented on #330
hey guys, I made some new icons, which where missing so far. Find them here as SVG's:

https://trello.com/c/uFc9lUin/41-new-icons

the surrounding measurements of the icons are 22px x 44px

Ask me, when we need to fiddle them into the Icon font @piggyslasher

[2015-03-28 09:20] Joaz opened #364 "Reserve username button has no visual feedback"
After filling out the two text field and clicking on "Reserve username", there is no visual feedback if the request has been successfully sent to the server or not.

[2015-03-28 11:37] pzduniak commented on #364
Unfortunately we're dealing with some technical difficulties and the reservation api is dead. It will be probably sorted out today.

[2015-03-29 14:26] flixi commented on #317
Try again please.

[2015-03-29 16:11] pzduniak commented on #364
Fixed.

[2015-03-29 16:11] #364 closed

[2015-03-30 06:43] let4be commented on #317
Just checked - the same, mailer doesn't work at all
I will try to do some synthetic tests on mock data(but it's still way too slow for our needs)

[2015-03-30 09:27] flixi opened #365 "Enable <title> tag to display stuff at certain actions"
Please insert a title="LAVAB_LOGOUT" or "LAVAB_COMPOSE" or similar to the appropriate functions. It's going to be way easier to determine then where to click to achieve the desired functionality.
Especially in the compose window, as the icons are not that clear. One may confuse the bcc and cc icon with the deliver icon. So please enable the title'S to display strings out of the toml file.

[2015-03-30 10:02] vLooz commented on #286
Updated UX
![286 wipe account dialogue 2](https://cloud.githubusercontent.com/assets/11177812/6894273/8d2dec58-d6d4-11e4-96d9-5a28fda82fa0.png)

[2015-03-30 11:27] vLooz commented on #358
This is the styleguide for how to position the attachment icons and regarding text @piggyslasher

![358 attachment styleguide](https://cloud.githubusercontent.com/assets/11177812/6895422/5f5ad816-d6e0-11e4-8e49-c84c6a7d5372.png)

![attachmenticon_lock](https://cloud.githubusercontent.com/assets/11177812/6895423/6185ea40-d6e0-11e4-97ba-60f7b75c0f0d.png)

other attachments types Icons to come...

[2015-03-30 11:30] andreis commented on #286
:+1:

[2015-03-30 13:02] bilbof opened #366 "None of my folders have accurate numbers of emails."
![screen shot 2015-03-30 at 15 02 35](https://cloud.githubusercontent.com/assets/8124374/6896643/d706f996-d6ed-11e4-87fb-d091cf45d3cb.png)
I have about 20 emails in my inbox in total.

[2015-03-30 14:16] let4be commented on #366
If this repeats after you refresh the page(F5) this is API related problem, please report it to https://github.com/lavab/api/issues

[2015-03-30 14:16] let4be commented on #366
Actually API should not send unread email count for Spam/Trash at all, as I stated it here:
https://github.com/lavab/api/issues/114

[2015-03-30 14:24] bilbof commented on #366
This is definitely an API problem - I can't receive emails. Just tested.

[2015-03-30 14:45] let4be opened #367 "Refactor the way we store openpgp private/public keys"
This will help us to mitigate future problems with crypto, like stated here:
https://github.com/lavab/web/issues/166

[2015-03-30 15:03] let4be commented on #367
Basically I'm going to reimplement http://openpgpjs.org/openpgpjs/doc/localstore.js.html
for the proper way of loading and persisting keys regarding our security model

[2015-03-30 15:11] piggyslasher commented on #365
we can use tooltips like we are using in the compose screen. show we just
use them?

On Mon, 30 Mar 2015 at 17:45 Felix Mueller-Irion <notifications@github.com>
wrote:

[2015-03-30 15:56] piggyslasher commented on #365
![image](https://cloud.githubusercontent.com/assets/1991125/6900333/68c5b94a-d738-11e4-9792-bd480dffd40b.png)

here's how its being done now.

[2015-03-30 15:58] flixi commented on #365
Yes, please.

[2015-03-30 15:59] let4be commented on #312
Okay, regarding today's disussion going to implement this using the single API call and concatenating all emails clientside
But first - more important stuff

[2015-03-30 16:10] piggyslasher commented on #350
@let4be - which branch have the buttons been moved in? i pulled from develop - dont see the change.

[2015-03-30 17:35] piggyslasher commented on #365
this was fixed in a previous issue #320

about your compose and logout request - are you referring to the left sidebar? i cant find buttons anywhere else that do this.

[2015-03-30 17:36] piggyslasher commented on #365
you mean in the condensed layout when the left sidebar only has icons showing?

[2015-03-30 19:28] piggyslasher opened #370 "forward/reply/reply-all touch up"
now it looks like this:

![image](https://cloud.githubusercontent.com/assets/1991125/6904782/f94dacbc-d755-11e4-87ff-c4eb93edba20.png)

needs to be
![image](https://cloud.githubusercontent.com/assets/11177812/6845771/301a9314-d3b8-11e4-93ad-a80799beab30.png)

[2015-03-30 19:30] piggyslasher commented on #350
i've created the three new buttons in the mail action bar - you can link them when you move the controller code @let4be - assigning to you now. i'm creating a separate issue called 'mail button-group styling'

#370

[2015-03-30 19:31] piggyslasher opened #371 "need black/white print-friendly logo"
try pressing ctrl+p on an email and you'll see a very unprintable lavaboom logo on top of the first page.

i checked trello but cant find this version of the logo.

[2015-03-30 19:32] #356 closed

[2015-03-30 19:42] piggyslasher opened #373 "left panel fixes"
I've updated the heights/paddings to what you requested @vLooz

![image](https://cloud.githubusercontent.com/assets/1991125/6905058/ee4ecc36-d757-11e4-99b1-a755ea57b881.png)

what do you think?

please add more comments here so i can tweak the measurements

[2015-03-30 19:44] piggyslasher commented on #318
going to close this for now. please re-open if you see any issues. i've created another issue #371 for the issue with the logo.

[2015-03-30 19:44] #318 closed

[2015-03-30 19:47] piggyslasher commented on #303
@flixi - this milestone is lavaboom 2.0 so should i treat this as important? i'm running of other important tasks.

[2015-03-30 19:51] piggyslasher opened #374 "webcrypto warning step after login and maybe also after signup??"
will give you the jade file @let4be

[2015-03-30 20:28] piggyslasher opened #375 "replace existing icons with updated version on trello"
contacts,
add contact

@vLooz - how about these add/cancel/delete/edit icons - should i replace the existing ones?

[2015-03-30 21:03] piggyslasher commented on #357
like so @vLooz ? if yes, i'm closing this. thanks.

[2015-03-30 21:12] piggyslasher commented on #360
just wrap replies in <blockquote> tag.

Next just add a <button>...</button> a button with three dots. i can then add the collapse function to the button and the blockquote that follows... plus we already have a nice styling for blockquotes.

[2015-03-30 21:13] vLooz commented on #375
Not necessarily @piggyslasher. Some logos are for situations, where we did not have logos so far.

REPLACE

For "contacts", "add new contact" and "edit", the old logos should be replaced with the new ones. See here: https://github.com/lavab/web/issues/303 & https://github.com/lavab/web/issues/325

MISSING LOGOS

"Put Back" is a new Logo to move mails, which were deleted or marked as spam, back to

[2015-03-30 21:14] piggyslasher commented on #360
nice. i see your code @let4be - let me play around with this.

[2015-03-30 21:21] piggyslasher commented on #255
fixed the padding of the input items. will do rest when more time available.

[2015-03-30 21:25] vLooz commented on #357
Awesome work @piggyslasher !!! :-) I like it a lot!

3 little things left, than it's perfect! :-)

1) Change the orange to the same grey, you gave the star
2) Replace the date for the actual day with the time (e.g. 5:16 pm) and the last day with "yesterday" :-)
3) Is it possible, to replace the full name+email address (e.g. piggyslasher <piggyslasher@lavaboom.com>) with just the name (in this case

[2015-03-31 07:18] let4be opened #377 "crypto multi-threading, currently openpgp uses just one webworker"
This could greatly enhance inbox performance, it's extremely slow now when it comes to lots of threads and emails.
Basically we can spin up to N*2 threads(web workers), where N is number of cores

[2015-03-31 07:18] let4be commented on #377
see https://github.com/openpgpjs/openpgpjs/issues/305

[2015-03-31 07:55] flixi commented on #360
Not MVP though

[2015-03-31 07:57] flixi commented on #366
Mailer had a DNS issue.

[2015-03-31 07:59] flixi commented on #365
Yes. Condensed. It's unclear what does what

[2015-03-31 08:04] flixi commented on #303
Yes. Please.

[2015-03-31 08:28] vLooz commented on #371
This is probably more printer-friendly @piggyslasher

![2015-03-27_logo_onwhite kopie](https://cloud.githubusercontent.com/assets/11177812/6914999/a99b4fea-d790-11e4-9895-632a55db1544.png)

[2015-03-31 08:32] vLooz commented on #371
![2015-03-31_lavaboomlogo_bw-04](https://cloud.githubusercontent.com/assets/11177812/6915058/44b183e6-d791-11e4-87e8-42650d948766.png)

[2015-03-31 08:37] vLooz commented on #373
Looking good @piggyslasher!
The icons and the Logo aren't perfectly center aligned though. Can you move the icons a tiny bit to the right? Thx!
![ee4ecc36-d757-11e4-99b1-a755ea57b881](https://cloud.githubusercontent.com/assets/11177812/6915113/b1a3282e-d791-11e4-8ac9-74575980afb7.png)

[2015-03-31 09:25] bilbof commented on #366
Now no emails appear.

[2015-03-31 09:25] bilbof commented on #366
![screen shot 2015-03-31 at 11 25 15](https://cloud.githubusercontent.com/assets/8124374/6915938/a468c644-d798-11e4-9703-34cf6e3991d6.png)

[2015-03-31 11:15] let4be commented on #377
Already working on this as this was in the similar area with other crypto improvements, so closing this soon. Minor change

[2015-03-31 11:26] let4be commented on #377
Actually had to fork it anyway, there one other change we need to have in forked repository

[2015-03-31 12:13] let4be commented on #166
I believe this should be fixed now, if it's not - reopen/create new issue

[2015-03-31 12:13] #166 closed

[2015-03-31 12:14] let4be commented on #377
yay!

[2015-03-31 12:14] #377 closed

[2015-03-31 12:23] let4be commented on #367
implemented: https://github.com/lavab/web/pull/378

[2015-03-31 12:23] #367 closed

[2015-03-31 12:51] #350 closed

[2015-03-31 16:46] piggyslasher commented on #365
![image](https://cloud.githubusercontent.com/assets/1991125/6924057/5bb823b6-d808-11e4-97e3-a7e69d814a99.png)

[2015-03-31 16:46] #365 closed

[2015-04-01 03:12] piggyslasher commented on #345
@let4be - can you give me an example of when this notification will be used? if we're already warning users during the login process?

[2015-04-01 04:30] piggyslasher opened #380 "The blue read icon in the email"
Currently when we receive a new email, we arent redirected to it - so in the list it stays unread - there's a blue icon next to it (when mail starts working again i can give you a screenshot of this. however when you actually click on the email, the email status becomes unread before it is displayed.

![image](https://cloud.githubusercontent.com/assets/11177812/6830817/ae9dd864-d31c-11e4-98ec-36ec

[2015-04-01 04:32] piggyslasher commented on #380
i checked the factory and there's no read function in the email.

[2015-04-01 04:36] piggyslasher commented on #370
@vLooz - i love the new design, however, a new user is left wondering - how the heck can i reply. I think this should just be shown always. Its light and doesn't congest the design.

also i think we should put back the three reply, reply all, forward icons back on the top action bar.

1. its always in the same place - people don't need to scroll down to the end of the email
2. this would just repl

[2015-04-01 04:41] piggyslasher opened #381 "buggy workflow when creating a new account after logging out of previous one"
just letting you know here - maybe ive missed something. i created an account 'darkbrown'. i was previously signed into the account 'olga'. when i finished the registration and logged into dark brown and compose

steps:

1.  i have olga's email address under my autocomplete.
2. she's marked as secure. i havent imported her public key yet. no prompt was shown and i sent olga an email.
3. olga recei

[2015-04-01 04:43] piggyslasher commented on #345
maybe external images

![image](https://cloud.githubusercontent.com/assets/1991125/6934775/b153102e-d86c-11e4-9938-f81e0fdc7371.png)

[2015-04-01 06:34] let4be commented on #381
Thanks. Will check
This sort of behavior happens because we do not unload the angular application, we simply switch between primary app and sign in/up app - to avoid delays and possibly screen blinking on page reload.
Most of such clean up situations should already be handled properly, but something is not

[2015-04-01 06:40] let4be opened #382 "Unify Inbox/Contacts caching code"

[2015-04-01 06:42] let4be commented on #381
related: https://github.com/lavab/web/issues/382

[2015-04-01 06:42] #381 closed

[2015-04-01 06:51] let4be commented on #317
Mailer is working again, just checked on some emails - seems to work
It's in develop, but not deployed so can be tested only locally

[2015-04-01 08:18] flixi commented on #370
Yes. I Like it.

[2015-04-01 08:24] flixi commented on #365
:thumbsup:

[2015-04-01 09:45] vLooz commented on #345
These are the places, where we can show notifications. I think we should keep them consistent. Meaning: when there is a problem, regarding the whole account, we show it as early as possible in the login process. When there is a problem regarding only one specific element in an email, we show it in the email.

![notificationhierarchyscheme](https://cloud.githubusercontent.com/assets/11177812/693851

[2015-04-01 10:22] vLooz commented on #370
You are right, that let the buttons disappear is probably confusing for some users @piggyslasher
I see two options here:

1) We place it back into the main action bar on top, like Vik suggested
2) We place it as a half transparent overlay at the bottom of the correspondence, independent of mail positions. Like in the Mailbox Client :-)

![bildschirmfoto 2015-04-01 um 12 13 00](https://cloud.github

[2015-04-01 13:18] piggyslasher commented on #262
right now, i made a small fix so that the elements are aligned from the top. its hard to align the last button because of the content above. so i'm just going to mark this done for now as aligning the button is almost impossible without using some unnecessary javascript.

[2015-04-01 13:18] #262 closed

[2015-04-01 13:23] piggyslasher commented on #371
@vLooz can i please have an svg of the gray one?

[2015-04-01 15:07] let4be opened #383 "Add external images proxy support"
But first this needs to be implemented on the backend

[2015-04-01 15:08] vLooz commented on #371
sure. will send it on slack

[2015-04-01 16:26] vLooz opened #384 "General: Please move Server Infos to the left bottom"
![bildschirmfoto 2015-04-01 um 18 24 32](https://cloud.githubusercontent.com/assets/11177812/6945808/9ab387e2-d89c-11e4-9a1b-d0a873367bce.png)

[2015-04-01 16:29] vLooz opened #385 "General: Double check all instances Icons the same size (e.g. TrashCan Icon)"
![bildschirmfoto 2015-04-01 um 18 27 44](https://cloud.githubusercontent.com/assets/11177812/6945851/f13a5104-d89c-11e4-9c4e-656ce35f71b9.png)

[2015-04-01 16:30] vLooz opened #386 "Inbox: Please add line below first email (before selected)"
![bildschirmfoto 2015-04-01 um 18 29 34](https://cloud.githubusercontent.com/assets/11177812/6945883/20ed2a70-d89d-11e4-979b-e80a96e332fb.png)

[2015-04-01 16:33] vLooz opened #387 "Inbox: replace orange open lock with grey open lock"
![bildschirmfoto 2015-04-01 um 18 29 34 kopie](https://cloud.githubusercontent.com/assets/11177812/6945974/88982008-d89d-11e4-933b-0e5002b51bc4.png)

[2015-04-01 16:40] vLooz opened #388 "Inbox: Get rid of the „Sort by…“ dropdown. Newest Mails are on top in MVP"
![bildschirmfoto 2015-04-01 um 18 19 42](https://cloud.githubusercontent.com/assets/11177812/6946135/89034f44-d89e-11e4-8ec7-c8a2338c5025.png)

[2015-04-01 16:44] vLooz opened #389 "Compose: Please no auto-replace in any other field then the recipients!"
I wrote a mail with the About "Test 2" today.
When composing another mail, and typing "test" in the about field, it would be auto-replaced with "Test 2".

Please get rid of any auto-replace / auto-correct features in any of the fields, apart of the recipient fields.

[2015-04-01 16:46] vLooz opened #390 "Compose: Make Font in About field a bit thicker"
It's a bit too thin to be readable (at least on retine)

![bildschirmfoto 2015-04-01 um 17 12 03 kopie](https://cloud.githubusercontent.com/assets/11177812/6946266/58532a94-d89f-11e4-9345-8e51902c266e.png)

[2015-04-01 16:54] vLooz opened #391 "Compose: Get rid of the „Add CC and BBC“ button in header"
Get rid of the „Add CC and BBC“ button in header

![bildschirmfoto 2015-04-01 um 17 12 03 kopie 2](https://cloud.githubusercontent.com/assets/11177812/6946440/8a18998c-d8a0-11e4-8f42-d9f2eee15691.png)

Instead create 2 separate buttons for at the right end of the recipient field. See design mocks below:

![bildschirmfoto 2015-04-01 um 18 49 24](https://cloud.githubusercontent.com/assets/11177812/6

[2015-04-01 16:56] vLooz opened #392 "Contacts: Double check "Sort by name" functionality"
When contacts are sorted by last name, the order of the letters ist still by first name.

![bildschirmfoto 2015-04-01 um 18 55 24](https://cloud.githubusercontent.com/assets/11177812/6946471/cc0fb8de-d8a0-11e4-93b4-6d65a962ca39.png)

[2015-04-01 16:59] vLooz opened #393 "Contacts: Double check Lock Icons functionality"
Lock icon in contact list is blue, even if there is no public key for any of the contacts email addresses.

![bildschirmfoto 2015-04-01 um 18 57 35](https://cloud.githubusercontent.com/assets/11177812/6946519/348ffe5a-d8a1-11e4-9d6d-4fc28526726a.png)

[2015-04-01 17:01] vLooz opened #394 "Contacts: Make the grey separation fields 22px"
![bildschirmfoto 2015-04-01 um 18 55 24](https://cloud.githubusercontent.com/assets/11177812/6946558/73f8538a-d8a1-11e4-851a-ec4b502d8d86.png)

[2015-04-01 17:03] vLooz opened #395 "Settings: Change Chapter (general, profile, keys…) height to 88px high"
![bildschirmfoto 2015-04-01 um 17 11 27 kopie](https://cloud.githubusercontent.com/assets/11177812/6946589/b7081c96-d8a1-11e4-99b2-c29e4987de16.png)

[2015-04-02 10:30] andreis commented on #330
AFAIK @pzduniak just implemented the necessary functionality, so it should be possible now.

[2015-04-02 11:49] vLooz commented on #330
Can we implement these 2 buttons now? From my POV they are among the most important missing features for MVP. @piggyslasher

[2015-04-02 13:15] piggyslasher commented on #330
ive assigned it to @let4be - he has to display them based on the angular router :)

[2015-04-02 13:35] piggyslasher commented on #393
re-assigning to @let4be

[2015-04-02 13:36] piggyslasher commented on #392
assigned to @let4be

[2015-04-02 13:36] piggyslasher commented on #390
will check this. i need to update the code in the compose field for the new font weight system.

[2015-04-02 13:39] piggyslasher commented on #384
@let4be - what should we do here because its following the notifications system. anyway you can separate the server info? assigning to you for now.

[2015-04-02 13:40] piggyslasher commented on #384
@vLooz also server info is just for development build - not production (.com build).

[2015-04-02 13:41] vLooz commented on #384
Ah, ok. So it will not be visible in the official version? @piggyslasher

[2015-04-02 13:42] piggyslasher commented on #384
no it won't. but i'm re-assigning this to myself because i can use it to style general notifications.

[2015-04-02 13:53] let4be commented on #312
Basic version is implemented, though styling required

[2015-04-02 13:54] let4be commented on #312
I've added simple email forwarding functionality, example how it currently looks:
![image](https://cloud.githubusercontent.com/assets/4147061/6965230/97cbeddc-d958-11e4-8f7c-0cfc5b84c490.png)

Template:
https://github.com/lavab/web/blob/develop/src/blocks/inbox/forwardedEmail.jade

[2015-04-02 13:56] let4be commented on #366
Not an issue, backend had temporary problems afaik

[2015-04-02 13:56] #366 closed

[2015-04-02 14:10] piggyslasher commented on #389
@vLooz - is this for the subject field?

[2015-04-02 14:15] vLooz commented on #380
hmmm... I think @piggyslasher is right here. Just get rid of the blue icon then!

[2015-04-02 14:17] vLooz commented on #344
I think this issue is covered here also: https://github.com/lavab/web/issues/330

[2015-04-02 14:19] vLooz commented on #389
Yes, I have this problem when typing the subjects @piggyslasher

[2015-04-02 14:55] piggyslasher commented on #389
fixed. also - i will mark issues with the 'ready' when i complete them - but they're not in the main development branch yet. when i _close_ an issue, that means you can sync your code (using the github app or the command i gave you), and then re-run your local copy by using the command i gave you. in fact, you can just use the one command without opening the github app.

[2015-04-02 15:39] piggyslasher commented on #395
![image](https://cloud.githubusercontent.com/assets/1991125/6967383/7932f846-d991-11e4-971a-0be8f86070fe.png)

[2015-04-02 15:47] vLooz commented on #395
Much better! :-) thx!
Still there is a little irregularity around the settings button. If you have time, you might wanna double check, if all the folder areas (Inbox, Sent, Starred...) have 44px as a height. Suuuper low priority though :-)
![7932f846-d991-11e4-971a-0be8f86070fe](https://cloud.githubusercontent.com/assets/11177812/6967553/51bb0366-d960-11e4-9bb7-8600abed116b.png)

[2015-04-02 15:53] piggyslasher commented on #395
lol. i noticed it and am trying to check which rogue element is causing this madness. should be a quick fix.

[2015-04-02 16:09] piggyslasher commented on #395
lol - it was the gray border on the left taking up a pixel.

![image](https://cloud.githubusercontent.com/assets/1991125/6967955/9b2a1548-d995-11e4-92d1-6a27a4cbd387.png)

[2015-04-02 16:10] piggyslasher commented on #395
erm you think the last item should be have the border _inside_ or is this fine? im moving on to other tasks now. will gat back to this based on what you say.

[2015-04-02 16:13] vLooz commented on #395
now it's looking good. As long as the borders are aligned, I'm happy :) Thx man!

[2015-04-02 16:18] piggyslasher commented on #386
closing #395 because this is related and its the only remaining issue from there. but i can't do this if selected, remove the border because it means the border will be _inside_ if the item is not selected. i.e. 1px too high.

[2015-04-02 16:20] vLooz commented on #386
Humm..ok. What about autoselect the mail at the top when starting the client?

[2015-04-02 16:31] piggyslasher commented on #386
the problem is when the last item is active, the border is still visible.

there's two parts to this problem:
  - [x] show border on last item - fixed
  - [ ] hide border if last item is selected - can't be done using css alone, and we need dreaded javascript, which _should not_ be used for cosmetics

[2015-04-02 16:31] piggyslasher commented on #386
let me make a push. and you can tell me if things are fine.

[2015-04-02 17:03] vLooz commented on #386
To me it looks like, as if the the border, which should be at the bottom the field, actually is on the top.

![bildschirmfoto 2015-04-02 um 19 01 36](https://cloud.githubusercontent.com/assets/11177812/6968916/dbdde0a4-d96a-11e4-90dd-c0a930ea324d.png)
I'm sorry, I don't really understand the issue.

[2015-04-02 17:53] piggyslasher commented on #373
i think i got it right. please check on retina. on non-retina its aligned. if its not i need to edit the svg and move it slightly.

[2015-04-02 18:00] #394 closed

[2015-04-02 18:00] piggyslasher commented on #389
please check this again :) on my side i dont see any autocomplete results. re-open if its not fixed. thanks.

[2015-04-02 18:00] #389 closed

[2015-04-02 18:01] #386 closed

[2015-04-02 18:18] piggyslasher commented on #262
please check if youre happy or some screens are 'too high'? comment here if anything. thanks.

[2015-04-02 18:18] piggyslasher commented on #387
fixed. looks much nicer :)

[2015-04-02 18:18] #387 closed

[2015-04-02 18:19] piggyslasher commented on #388
commented it out @let4be
fixed (hidden) for now @vLooz

[2015-04-02 18:19] #388 closed

[2015-04-02 18:20] #373 closed

[2015-04-02 18:20] #395 closed

[2015-04-02 18:24] piggyslasher commented on #380
adding a wont fix label for now. if you have other thoughts, let me know @let4be

[2015-04-02 19:23] piggyslasher commented on #303
getting there. added dropdown support. should be done tomorrow. then will assign to @let4be

![image](https://cloud.githubusercontent.com/assets/1991125/6971687/d556ae64-d9b0-11e4-9148-44409cf34e27.png)

[2015-04-03 09:46] #344 closed

[2015-04-03 09:47] let4be commented on #330
though we need proper icons @piggyslasher

[2015-04-03 09:49] let4be commented on #331
new labels workflow implemented, trash && spam should work properly now
buttons are being hidden if nothing selected

[2015-04-03 09:49] #331 closed

[2015-04-03 12:28] #393 closed

[2015-04-03 14:48] let4be commented on #380
so @piggyslasher are you saying that email becomes _read_ before actually being shown to the user? hm... I will check

[2015-04-04 06:50] let4be commented on #392
@vLooz where does this happen? I can't reproduce this locally on develop branch

[2015-04-04 06:51] let4be commented on #392
and this should not happen at all, as there is sorting implemented on letters
https://github.com/lavab/web/blob/develop/src/js/apps/AppLavaboom/controllers/ctrlContactList.js#L94-94

[2015-04-04 07:14] let4be opened #399 "bugged to address in emails.create request"
https://github.com/lavab/api/issues/120

[2015-04-04 07:23] #399 closed

[2015-04-04 08:55] let4be opened #400 "Inbox selection shifts -1 when new thread arrives(event)"

[2015-04-04 08:56] #400 closed

[2015-04-04 08:56] let4be commented on #355
Fixed

[2015-04-04 08:56] #355 closed

[2015-04-04 08:57] let4be commented on #380
related: https://github.com/lavab/web/issues/400

[2015-04-04 10:43] piggyslasher commented on #330
Its there already. `.icon-empty-trash` and `.icon-put-back`
[code]

[2015-04-04 10:53] piggyslasher commented on #330
nvm, i did it.

[2015-04-04 10:57] piggyslasher commented on #330
@vLooz

![image](https://cloud.githubusercontent.com/assets/1991125/6992367/69a87c90-dafc-11e4-873c-50713340c515.png)

all good?

[2015-04-04 12:06] vLooz commented on #330
looking great @piggyslasher :-)

[2015-04-04 14:07] vLooz commented on #392
This happened on Viks local branch the date I issued this. If thats not the case anymore, close the issue :-)

[2015-04-04 17:00] let4be commented on #392
I can't reproduce it on develop, probably his local branch was outdated
If this appears again - reopen

[2015-04-04 17:00] #392 closed

[2015-04-04 20:39] flixi opened #402 "Login App shifted to the right"
![bildschirmfoto 2015-04-04 um 22 37 42](https://cloud.githubusercontent.com/assets/707993/6994475/6d65c0d0-db1b-11e4-9bbd-84b515448866.png)

[2015-04-04 20:44] flixi commented on #270
![bildschirmfoto 2015-04-04 um 22 40 55](https://cloud.githubusercontent.com/assets/707993/6994483/f324d4e0-db1b-11e4-9895-a6bf69ea9897.png)
https://gist.github.com/flixi/67923597481ef54acdff

[2015-04-05 07:57] let4be commented on #270
Please, try to forward this email

[2015-04-05 08:00] let4be commented on #383
@pzduniak how can I access back end proxy? is it deployed, port && address?

[2015-04-05 08:04] #380 closed

[2015-04-05 08:30] let4be opened #403 "Position of lock icon in contacts"
![image](https://cloud.githubusercontent.com/assets/4147061/6996281/30588bde-db87-11e4-811a-753bef89d62a.png)
Windows, Google Chrome 41.0.2272.118 m

[2015-04-05 08:39] let4be opened #404 "show reply/forward icons conditionally"
http://en.wikipedia.org/wiki/List_of_email_subject_abbreviations
Standard prefixes section

I was going to loop thru the subjects of each email inside the thread and check each subject for matching prefix list(regexp)

All would be perfect with this approach but we have to do separate API calls to gather threads and emails, this is going to be too consuming

so I guess this needs some backend asap

[2015-04-05 08:58] let4be commented on #404
Probably this would work too
is replied? thread.emails.length > 1
is forwarded? thread.manifest.subject.match(forward_prefixes_list)

[2015-04-05 09:06] let4be commented on #404
Okay 2nd idea seems to work fine :)

[2015-04-05 09:06] #404 closed

[2015-04-05 09:08] let4be opened #405 "Ghost contacts?"
Somehow one of my accounts managed to be bloated by hidden contacts, will check this later

[2015-04-05 09:19] let4be opened #406 "Sanitizer gets crazy and wipes most of the styling from emails"
I'm not sure yet what's going on but formatting of forwarded emails which look nice on my gmail is screwed
Going to check this and how it relates to security

[2015-04-05 09:29] let4be commented on #406
https://github.com/angular/angular.js/issues/10406

[2015-04-05 09:57] let4be opened #407 "Embed external images by default"
The only way to send emails with images _securely_

[2015-04-05 09:58] let4be commented on #383
related: https://github.com/lavab/web/issues/407

[2015-04-05 10:47] piggyslasher commented on #403
sorry. fixed in my branch. was unifying the code.

[2015-04-05 10:51] let4be commented on #403
close it as you merge with develop ;)

[2015-04-05 10:53] let4be commented on #406
http://stackoverflow.com/questions/10421168/security-risk-xss-with-style-attributes

[2015-04-05 11:44] pzduniak opened #408 "Double slash at the end of verifyInvite"
A fellow person told me this:

[code]

[2015-04-05 11:45] pzduniak opened #409 ""Privacy Policy ain't even a link" in the registration flow"
[code]

[2015-04-05 15:05] piggyslasher commented on #357
1 & 2 is already done @vLooz
for 3) I'm assigning to @let4be

[2015-04-05 15:06] piggyslasher commented on #409
assigning to myself. i'll find the link on lavaboom.com

[2015-04-05 15:22] let4be commented on #383
implemented in https://github.com/lavab/web/commit/b9b02b505b1851791651771ffeaf01f5682d86fa

[2015-04-05 15:22] #383 closed

[2015-04-05 15:23] let4be commented on #383
by default we block all external images, we provide 4 options:
1. block all external images
2. proxy everything thru secure lavaboom proxy
3. direct download of https external images
4. direct download of all external images

[2015-04-05 15:24] let4be commented on #406
Basically this is considered a security risk, we need to decide how far we want to go in email's styling

[2015-04-05 15:41] piggyslasher commented on #402
@let4be im going to hide notifications in the login app man. Please show notifications within the respective jade file at the end. is there a show way of appending this to all jade files in the login folder? like a jade import?

[2015-04-05 15:42] #408 closed

[2015-04-05 15:43] let4be commented on #402
jade files inside login are partials that being included via angular-ui-router
please import this inside index.jade

[2015-04-05 15:44] let4be commented on #402
This is the place where partials are being included:
https://github.com/lavab/web/blob/develop/src/index.jade#L59-59

[2015-04-05 15:46] let4be commented on #357
sure

[2015-04-05 16:04] #357 closed

[2015-04-05 16:15] piggyslasher opened #410 "Styling for notifications"
![image](https://cloud.githubusercontent.com/assets/11177812/6848710/24da10f8-d3cf-11e4-815c-5c45f05fee56.png)

[2015-04-05 16:17] piggyslasher commented on #273
closing this issue - please refer to #358 & #410

[2015-04-05 16:17] #273 closed

[2015-04-05 16:23] piggyslasher commented on #410
there is initial styling for notifications now. this is above the emails. @vLooz  i don't think we can do 3) because it covers the action bar. I think we should just do 2) instead of 3). check the initial notification styling when i push the changes later tonight.

[2015-04-05 16:28] piggyslasher commented on #402
yes, this i know they are separate jade files in the partials folder :) I just want to know if there's anyway of appending this to the end of all _those_ jade files programatically. i cant put anything in that index.jade div because the router will overwrite it. i tried putting notifications inside there but i guess the ui-router loads the partial jade file in there.

[2015-04-05 16:32] piggyslasher commented on #259
are you sure @fvl? this was how it was before (show 'x' on hover), and then your compose mockup had the cross showing always so i changed it. I can add the cross's hover effect. but about the hiding of the 'x' totally - is this the latest?

[2015-04-05 16:40] #162 closed

[2015-04-05 16:40] #179 closed

[2015-04-05 16:40] #402 closed

[2015-04-05 16:40] #403 closed

[2015-04-05 16:40] #409 closed

[2015-04-05 16:41] piggyslasher commented on #375
only contacts screens remain. i'm going to close this as #303 includes the new icons there.

[2015-04-05 16:41] #375 closed

[2015-04-05 16:43] piggyslasher commented on #301
i'm going to close this as I'm getting more specific mockups and issues. this is too general.

[2015-04-05 16:43] #301 closed

[2015-04-05 16:44] piggyslasher commented on #106
now with new rem units, the app looks fine on retina/non-retina. closing this.

[2015-04-05 16:44] #106 closed

[2015-04-05 16:51] piggyslasher commented on #181
in #326 so closing this.

[2015-04-05 16:51] #181 closed

[2015-04-06 04:42] piggyslasher commented on #407
you might wanna check the size of the image, and if its more than 2mb give an option of adding it as attachment. binary -> canvas -> dara-uri conversion (and then encrypting it all) is very intensive. can hang the browser. i have this problem when i past in big images into textangular

[2015-04-06 07:35] vLooz commented on #259
Hey Vik, you are right. This stage is almost a month old. Nothing to change here.
The cross should always be shown.

[2015-04-06 08:04] let4be commented on #259
also changing ui-select and text-angular related behaviors is pretty time consuming, as almost each non standard task here requires source code investigation

[2015-04-06 08:16] let4be commented on #345
@piggyslasher I've added remove notification to your button,but now I see this:
![image](https://cloud.githubusercontent.com/assets/4147061/7002137/61d40b3a-dc4e-11e4-8e37-f82708a9b4bc.png)

[2015-04-06 08:18] let4be commented on #345
also having "You server today is Darth Vader, happy mailing" over my email I find this annoying...
probably we need to move this to a better place?

[2015-04-06 08:19] vLooz commented on #410
See #384

[2015-04-06 08:21] vLooz commented on #345
See #384

[2015-04-06 08:51] let4be commented on #384
server info will be both on dev and prod
Just in dev it's Darth Vader ;)

[2015-04-06 08:52] piggyslasher commented on #345
the content of the notification was just so i have something style @vLooz

@let4be let me check.

[2015-04-06 08:55] piggyslasher commented on #234
I've now cleaned up all the units so retina's natural 2x zoom works perfectly. closing.

[2015-04-06 08:55] #234 closed

[2015-04-06 11:45] piggyslasher commented on #302
closing this: please refer to #326

[2015-04-06 11:45] #302 closed

[2015-04-06 16:01] piggyslasher commented on #384
do we need this?

[2015-04-06 17:50] piggyslasher commented on #303
do we need the option for remove key? it is not in the new design. currently there is a remove key button.

new design
![image](https://cloud.githubusercontent.com/assets/1991125/7008766/358347ce-dcc8-11e4-8c51-5e6563cc660d.png)

current design
![image](https://cloud.githubusercontent.com/assets/1991125/7008811/617e3a5a-dcc8-11e4-8c5a-c815927d841a.png)

[2015-04-06 18:12] piggyslasher commented on #337
![image](https://cloud.githubusercontent.com/assets/1991125/7009243/7bc8e010-dccb-11e4-8f4b-88bc69c3705f.png)

[2015-04-06 18:27] piggyslasher commented on #303
current status:
![image](https://cloud.githubusercontent.com/assets/1991125/7009475/1520e7fc-dccd-11e4-992f-97ca428f5b4e.png)

![image](https://cloud.githubusercontent.com/assets/1991125/7009537/99639d52-dccd-11e4-8deb-18a0c5bbd7c8.png)

little more work left. but we're getting there.

[2015-04-06 18:52] flixi commented on #270
![bildschirmfoto 2015-04-06 um 20 50 54](https://cloud.githubusercontent.com/assets/707993/7010026/c67c3bd4-dc9e-11e4-920b-d5af8c42c1e6.png)
![bildschirmfoto 2015-04-06 um 20 51 15](https://cloud.githubusercontent.com/assets/707993/7010025/c679b300-dc9e-11e4-97aa-780519a01185.png)

[2015-04-06 18:53] flixi commented on #312
@vLooz Do you have any input?

[2015-04-06 19:10] flixi commented on #384
Yes, we do, as it proves to the User that it's actually our js they are getting.
Make sure this doesn't get displayed during login though, please.
![bildschirmfoto 2015-04-06 um 17 58 59](https://cloud.githubusercontent.com/assets/707993/7010417/5036cd7e-dca1-11e4-8b55-daa2b41390da.png)

[2015-04-06 19:44] piggyslasher commented on #303
![image](https://cloud.githubusercontent.com/assets/1991125/7011019/3a3b77b8-dcd8-11e4-9cd0-390c03696989.png)

@vLooz - more to go but now all dropdowns follow your guidelines, including the one in compose.

[2015-04-06 20:15] piggyslasher commented on #384
its been removed from login in the latest dev build. for starters, if the user wants to know if he's using our js, it would be good to show it early before any credentials are passed. Ideally in the login screen, not the screen you pasted above, but the one with the username/passphrase. maybe a small message at the bottom.

[2015-04-06 20:18] piggyslasher commented on #410
@let4be how about this for more control over modals? like yes/no. it even prevents closing if necessary.

http://dwmkerr.github.io/angular-modal-service/

[2015-04-07 07:26] let4be commented on #270
@flixi this looks like _entirely_ mailer issue, nothing to do with web here
i'm redirecting this to https://github.com/lavab/mailer/issues/35

[2015-04-07 07:27] let4be commented on #270
Empty email caused by a bug in web, I've added logging but I guess it's not deployed as auto deployment is broken :(

[2015-04-07 08:51] let4be commented on #294
Implemented in https://github.com/lavab/web/commit/bde6e56d67abde0a87a0730be4403ca80c636f2b

[2015-04-07 08:51] #294 closed

[2015-04-07 09:21] vLooz commented on #410
Do you need a separate styleguide for this or can you use the existing SignUp structure @piggyslasher?

[2015-04-07 09:25] piggyslasher commented on #410
just give me improvements when i complete the initial coding @vLooz .

for now we have no modal notifications yet.

[2015-04-07 09:43] let4be opened #416 "Implement viewing of encrypted emails for non-lavaboom users"
We've recently added custom public keys support for our contacts, so now we can send encrypted emails from lavaboom to regular email boxes like gmail.

I've just tested and got email of the following kind:
![image](https://cloud.githubusercontent.com/assets/4147061/7020652/7d721988-dd23-11e4-8ec9-1151d2c28083.png)

I guess 1nwEqFBpwhx3GV637BqU is the thread ID there

so basically we need to design

[2015-04-07 09:44] let4be commented on #416
But I guess this is going to be 2.1 feature :)

[2015-04-07 09:47] let4be commented on #317
implemented, need feedback on this before closing as I feel something might be missing here

[2015-04-07 09:55] vLooz commented on #303
Looking good @piggyslasher! Great work!
If you could replace the "upload key Icon" with the "Upload PublicKey-icon" from here: https://trello.com/c/ZrFuUKAO/42-new-icons-2, this is good for MVP.

[2015-04-07 09:57] vLooz commented on #312
I'm on it @flixi @let4be @piggyslasher

[2015-04-07 10:32] vLooz commented on #410
Alright. Let me know when you finished coding

[2015-04-07 11:40] let4be opened #418 "Add the most important notifications"

[2015-04-07 13:47] piggyslasher commented on #303
i believe for MVP only this part needs the finishing touches.

[2015-04-07 14:07] piggyslasher commented on #303
we can't actually follow the widths you've mentioned in your design. because some of our widths are fluid. things like icons and the navigation panel on the left have fixed widths. they increase/decrease depending on the screen-size. but the heights are fine.

[2015-04-07 14:51] flixi opened #422 "username julia and verification token don't match"
![bildschirmfoto 2015-04-07 um 16 46 59](https://cloud.githubusercontent.com/assets/707993/7025769/138a0b7a-dd46-11e4-94ea-1e374503f04b.png)
https://gist.github.com/flixi/64949585d59d182909c1

[2015-04-07 14:52] piggyslasher commented on #326
@vLooz can we unify the styling for these two instances?

![image](https://cloud.githubusercontent.com/assets/1991125/7025792/7be81360-dd78-11e4-9013-a99e503f63aa.png)

and this, which is what i just finished in contacts.

![image](https://cloud.githubusercontent.com/assets/1991125/7025835/b7021a90-dd78-11e4-9195-17ee76d790c7.png)

[2015-04-07 14:55] piggyslasher commented on #422
im also having this problem with 'piggyslasher'

[2015-04-07 14:55] piggyslasher commented on #422
@pzduniak

[2015-04-07 15:19] vLooz commented on #326
I'd rather not unify them, because they show 2 different states.
For MVP you could just ignore the third state though, because we probably won't have too many users, which want to add and delete key pairs during the first weeks.

[2015-04-07 15:28] piggyslasher commented on #326
sure. not a biggie. i just wanted to know if the new contacts collapse/expanded view is the latest. but they can be different. i just need to style the header.

[2015-04-07 15:29] vLooz commented on #326
nice!
The new contacts UI definitely is the latest.

[2015-04-07 15:38] vLooz commented on #303
As long as the widths are consistent through all settings and contact screens, it doesn't matter if they are fixed or depended on the general screen widths.

[2015-04-07 16:10] pzduniak commented on #422
Fixed

[2015-04-07 16:10] #422 closed

[2015-04-07 19:12] flixi commented on #303
Can you fix the text though, up there?

[2015-04-07 19:13] piggyslasher commented on #303
text boss? how do you mean? the gap between the paragraphs?

[2015-04-07 19:18] flixi commented on #303
encrypted emails -> encrypt -(ed)emails

[2015-04-07 19:27] flixi commented on #317
So, I'm not sure whether or not this is implemented.
And if it is, then we can close it.
But it seems that you do not get to see the original message upon hitting reply.
Plus, I get neither the message nor all of the senders when I hit reply all.

[2015-04-07 19:28] flixi commented on #416
Nice, but correct.
Not needed for MVP.

[2015-04-07 19:30] flixi commented on #270
Alright, then tell @pzduniak to deploy your code manually.

[2015-04-07 19:35] flixi commented on #384
Yes, but make sure it doesn't shift the thing to the right.

[2015-04-07 19:38] piggyslasher commented on #303
i think the missing word is 'send'. will do that.

[2015-04-07 20:54] flixi opened #423 "I can't view any email send before 30.03."
I seem to be unable to load more emails into the list than the 15 newest ones.

[2015-04-07 20:59] flixi commented on #406
Opinios @pzduniak @piggyslasher ?

[2015-04-08 07:31] let4be commented on #423
I guess there is a problem with infinite scrolling, checking

[2015-04-08 07:59] #423 closed

[2015-04-08 08:29] let4be commented on #345
From my side it's finished

[2015-04-08 08:36] let4be commented on #317
Currently it does not show original message in compose screen - same as in gmail when using reply to.
but the original message user replied to should be visible when delivered
Regarding reply to all going to fix this

[2015-04-08 12:23] vLooz commented on #312
I'd suggest, that we use the same layout like "repeat mail" @piggyslasher

[2015-04-08 13:52] flixi commented on #317
Show it please.

[2015-04-08 14:30] flixi commented on #270
https://gist.github.com/flixi/444223eeab29922b65f9

![bildschirmfoto 2015-04-08 um 16 27 44](https://cloud.githubusercontent.com/assets/707993/7047401/952fc77a-de0c-11e4-8bdb-4a0a717fba82.png)

[2015-04-08 14:36] flixi opened #424 "Display only from address"
![bildschirmfoto 2015-04-08 um 16 32 26](https://cloud.githubusercontent.com/assets/707993/7047464/fdf5b120-de0c-11e4-8b26-e11fec6d4dd9.png)
Make sure the from email address is the one that gets pulled if you hit the reply button.

[2015-04-08 15:47] let4be commented on #270
nothing to do here without logs

[2015-04-08 15:50] let4be commented on #270
asked @pzduniak to help with deploy

[2015-04-08 21:56] pzduniak commented on #424
I could easily remove it from members, but I'd rather have it done in the frontend, so that we can easily add multi-address feature later. You might be interested in `GET /addresses`.

[2015-04-08 21:57] pzduniak commented on #416
I'll grab that for 2.1, as it will require some backend modifications.

[2015-04-09 06:51] let4be commented on #424
I will just take required addresses from the thread's manifest

[2015-04-09 06:52] pzduniak commented on #424
That won't work, as thread manifest = manifest of the first email.

2015-04-09 8:51 GMT+02:00 let4be <notifications@github.com>:

--
Piotr Zduniak
piotr@zduniak.net
http://zduniak.net

[2015-04-09 06:55] let4be commented on #424
riight, email's manifest

[2015-04-09 06:56] let4be commented on #424
so
reply to = email's manifest [to]
reply to all = members without self

[2015-04-09 07:03] #418 closed

[2015-04-09 07:03] #424 closed

[2015-04-09 07:13] let4be opened #428 "Compose: background makes lock icons invisible"
![image](https://cloud.githubusercontent.com/assets/4147061/7061968/08d5aaac-dea1-11e4-92fa-d6a37f37fa00.png)

[2015-04-09 07:14] #405 closed

[2015-04-09 07:19] let4be opened #429 "Error: Invalid offset spam(non breaking)"

[2015-04-09 07:30] let4be opened #430 "emailBody avoid using angular.element as it indeed creates DOM"
looks like I will have to use raw dom manipulation using DomParser

[2015-04-09 09:12] let4be commented on #406
As an experiment I'm going to fully preserve styles inside html tags, and we will see how it goes regarding display and security

[2015-04-09 09:16] vLooz opened #431 "Sent: Encrypted Mail preview is not shown"
When I want to read a mail I've sent encrypted, the mail preview is blank.
This does not happen with unencrypted mails.

![bildschirmfoto 2015-04-09 um 11 14 04](https://cloud.githubusercontent.com/assets/11177812/7063779/c5796e70-dea9-11e4-9d0b-40ec67065dfe.png)

[2015-04-09 09:40] let4be commented on #431
Most likely mailer/api related, @pzduniak ?

[2015-04-09 10:55] #430 closed

[2015-04-09 11:00] let4be opened #432 "Display a warning if email contains embedded styling and ask user before and how to open it"
Basically I made workaround for $sanitizer to allow us see custom email's styling, all emails should look well now exactly as they do for example on gmail

But this carries security risks, so I guess user should be awared
I suggest a global setting(block, show, ask each time I open a email with embedded styles)

[2015-04-09 11:03] let4be commented on #406
Also see https://github.com/lavab/web/issues/432

[2015-04-09 11:53] flixi opened #435 "Fix signature"
I had to laugh so hard,

that's such a rookie mistake...
![bildschirmfoto 2015-04-09 um 13 51 10](https://cloud.githubusercontent.com/assets/707993/7066137/db14b10c-debf-11e4-8781-80177e32bfd7.png)

[2015-04-09 11:58] let4be commented on #317
OK this should be fixed in develop.
Now all emails user sends looks exactly as what is going to be send for direct/reply to/reply to all/forward email types.

I will push everything to master in the nearest time and Pitor will deploy it

[2015-04-09 12:00] flixi opened #436 "Delete sections that are not yet fully functional"
The settings pane
![bildschirmfoto 2015-04-09 um 13 55 14](https://cloud.githubusercontent.com/assets/707993/7066169/2d567fa4-dec0-11e4-996d-0364e061a9bb.png)
Delete the Mail behaviour thing
![bildschirmfoto 2015-04-09 um 13 57 03](https://cloud.githubusercontent.com/assets/707993/7066184/54940dac-dec0-11e4-9c8b-f7692ce1c4a6.png)
Delete the Newsletter thingy.

[2015-04-09 12:10] #429 closed

[2015-04-09 12:12] #436 closed

[2015-04-09 12:13] let4be commented on #435
^^ something got messed up
checking

[2015-04-09 12:21] #435 closed

[2015-04-09 12:46] flixi opened #439 "BBC and CC doesn't work if it'S mixed"
![bildschirmfoto 2015-04-09 um 14 37 01](https://cloud.githubusercontent.com/assets/707993/7066832/a661abfc-dec6-11e4-938e-680d7a05ebae.png)
I tried sending this email. Mixed to hello account which received it and the jonas @ fmi-online.com account in cc and my own fmi-online account in bcc. The above thing is the result.

[2015-04-09 12:48] let4be commented on #439
from my point I just pass this to the API, so...

[2015-04-09 16:09] #371 closed

[2015-04-09 16:27] vLooz opened #442 "Contacts: Some last improvements, then it's ready to go for MVP"
The current state is much better then the last one, thx to @let4be & @piggyslasher

To make it nice and usable for MVP, there are some last bugs to fix and one usability flaw to get rid of.

BUGS
See: https://files.slack.com/files-pri/T0393U6R6-F04AR8L1N/contact_bugs_hdready.mov

1) When I want to create a new business email it adds a new private email instead
Proposal: For MVP we do not different

[2015-04-09 17:18] vLooz opened #443 "Reply Mail: Recipient Address is shown in a weird way"
I send a Mail from Lavaboom to my Gmail Address. I replied from Gmail to Lavaboom. All fine. When I wanted to re-reply from Lavaboom back to Gmail, the recipient field was showing weird data and was far too long for the compose/reply window.

![bildschirmfoto 2015-04-09 um 19 15 59](https://cloud.githubusercontent.com/assets/11177812/7072492/29f102da-deed-11e4-8b22-547f9f6ee13d.png)

[2015-04-09 19:07] piggyslasher commented on #326
done mot of the logic and styling - check on develop. should be ready tomorrow. @let4be need to talk to you about the 'send public key' button. is there a function i can map to?

[2015-04-09 19:21] piggyslasher commented on #326
progress update:
![image](https://cloud.githubusercontent.com/assets/1991125/7074890/7c55e034-df30-11e4-8a54-42df0e1aadda.png)

@vLooz - how about the manage keys part - we have export & import.

[2015-04-09 19:22] piggyslasher commented on #326
@let4be maybe we just show the username or just the email address?
![image](https://cloud.githubusercontent.com/assets/1991125/7074930/c73303de-df30-11e4-8925-28f29fa3a476.png)

[2015-04-10 06:47] let4be commented on #443
Are you sure this appears on the latest develop branch, because I fixed the same issue in
https://github.com/lavab/web/commit/ef74ad3877cc977c3b617120502ae597bc286412

[2015-04-10 06:48] let4be commented on #442
Are you sure this appears in the latest develop branch?
I fixed some of this in https://github.com/lavab/web/commit/86fe4157dabb3ecbc47dfcb42de39482a6826b90

P.S. we should have full support of private/business emails, both possible to add/remove and they display differently in compose typeahead

[2015-04-10 07:02] let4be commented on #442
isn't available

[2015-04-10 07:11] let4be opened #446 "Settings-keys new layout isues"
![image](https://cloud.githubusercontent.com/assets/4147061/7083365/7a84df92-df69-11e4-8f10-dda2cebc99c3.png)

1. Send public key
1.a. fix the icon
1.b. what is the purpose of this button? (I have no idea)

~~2. Clicking on
![image](https://cloud.githubusercontent.com/assets/4147061/7083375/9f575bba-df69-11e4-8856-9aaf43b37a04.png)
has no effect in collapse/unfold - need to fix~~
This seems to be

[2015-04-10 08:32] vLooz commented on #326
See here :-)
![2015-03-18_settings_keys_dialogs](https://cloud.githubusercontent.com/assets/11177812/7084376/db8668e4-df6c-11e4-99a2-d0e56a194536.png)

[2015-04-10 12:32] andreis commented on #442
Yeah I reported these too. A good way to report stuff to Sergey, if he's online, is to just Skype him + share the screen. :stuck_out_tongue: Done in 5 minutes.

[2015-04-10 13:53] vLooz opened #447 "Lock Icon: color mix-up"
I've talked about the lock icon colors with @flixi and he advised me to get a straighter color pattern for the locks throughout the UI.

We decided that...
...all closed locks (encrypted) should be blue (#3BBADDC)
...and all open locks (not encrypted) should be light grey (#C6C6C6)

The reason for this is the assumed fact, that most users will have non-pgp contacts and therefor unencrypted mails f

[2015-04-10 13:59] vLooz commented on #446
Friendly reminder that I'd like it to look like this ;-)
![bildschirmfoto 2015-04-10 um 15 57 54](https://cloud.githubusercontent.com/assets/11177812/7089197/67523c90-df9a-11e4-81d1-3b4704984368.png)

[2015-04-10 14:02] vLooz commented on #443
It appeared yestrday on the branch, I synced via github from Vik.

[2015-04-11 10:32] flixi commented on #326
Please do not implement the stuff for pro-users quite yet.

[2015-04-11 10:44] flixi commented on #431
https://github.com/lavab/web/issues/309

[2015-04-11 13:53] pzduniak commented on #431
API doesn't do anything with the encrypted emails - it just saves them.

2015-04-11 12:44 GMT+02:00 Felix Mueller-Irion <notifications@github.com>:

--
Piotr Zduniak
piotr@zduniak.net
http://zduniak.net

[2015-04-13 07:33] let4be commented on #442
I've just checked the bug with (3) and it looks really weird - I cannot reproduce it locally, probably it's browser-specific
when key is being synced it somehow appears in the "opened" state without actually being opened
so collapse directive doesn't display correctly in the close state...

[2015-04-13 07:38] let4be commented on #431
Confirmed to be API/Mailer related the same old bug
I've checked it a week before and it was fixed, looks like it pops up again
redirecting this to: https://github.com/lavab/api/issues/107

[2015-04-13 07:38] #431 closed

[2015-04-13 07:39] #317 closed

[2015-04-13 08:03] let4be commented on #442
@piggyslasher, @andreis do you have a problem with contact's key is being displayed weirdly in collapsed state?

[2015-04-13 08:08] let4be commented on #442
All of this should be fixed, the only problem is key collapsed/opened state as I cannot reproduce the issue

[2015-04-13 09:17] vLooz opened #449 "Why is a Mail from gmail shown as encrypted?"
I sent a mail from my gmail account to my lavaboom account. The mail appeared as encrypted in my inbox, which obviously can't be true.

![bildschirmfoto 2015-04-13 um 11 13 20](https://cloud.githubusercontent.com/assets/11177812/7112882/9d978310-e1ce-11e4-8584-ccf9bf748fe7.png)

[2015-04-13 09:23] andreis opened #450 "Misc: Only show "served by <server>" notification once per day"
Let's limit the "served by cow" notifications to one per day. Implementation suggestion:

* add fields to AppData; e.g. `app_data.notif.served_by.interval` (seconds) and `app_data.notif.served_by.last` (Unix time)
* on login:
[code]

@Im4JAR is a non-tech member of our team that has been learning JS and would like to help. I was thinking we could give him this as a small introductory task. Whatcha

[2015-04-13 09:25] andreis commented on #450
Correction: the display interval might have to be in `account.setting` instead of `app_data`. Or just a preference "show who is serving your data" and standardize on 1 day intervals.

[2015-04-13 09:33] let4be commented on #450
what is the point of this @andreis ? I don't understand, I think this just will bring confusion...
@flixi ?

[2015-04-13 09:34] let4be commented on #449
Blame the API and thread.secure field, the web is just display what API has sent

[2015-04-13 09:36] let4be commented on #449
To be totally sure in this I need logs... or at least thread ID so @pzduniak may check this too in the database

Could you please provide the full address of this page with opened thread @vLooz ?
It should contain the thread ID

[2015-04-13 09:38] andreis opened #451 "Translation files don't seem to load properly"
`You server today is cow, happy mailing..SERVED_BY_TEXT`

![screen shot 2015-04-13 at 11 37 15](https://cloud.githubusercontent.com/assets/1249760/7113190/936f27d2-e1d1-11e4-8c74-d48741d3c120.png)

https://gist.github.com/andreis/8d0c852bdbe8d47f7b01

[2015-04-13 09:38] let4be opened #452 "Edit mode in contacts"
~~I've just added it but it looks not nice~~

![image](https://cloud.githubusercontent.com/assets/4147061/7113198/0bf797e0-e1da-11e4-85ef-4a6cc4a3cc92.png)

edit by @piggyslasher
  - [x] move edit button to action bar
  - [x] show editing mode save / discard buttons only when in editing mode
  - [x] Business / personal email only shown when business emails exist
  - [x] Show name / screen name as

[2015-04-13 09:39] let4be commented on #451
what... how did this ever happen? :|

[2015-04-13 09:40] andreis opened #453 "Feature request: Display `web` version above "Logout""
This will help with caching issues, and more. Since we're using semver, just have a metadata/manifest file that can be accessed by angular, and we update it manually together with `CHANGELOG` when bumping versions.

[2015-04-13 09:41] andreis commented on #453
Ideally pre-`1.0.0` we'd have it right on the screen, somewhere on the left panel (useful for screenshots), and after 1.0 we can move it to Settings.

[2015-04-13 10:05] vLooz commented on #449
How do I find out the thread ID?

[2015-04-13 10:05] andreis commented on #450
Not sure what's unclear. I'm suggesting we only show the "served by" stuff once per day. The settings part (to disable "served by" notifications) is completely optional. Setting the interval by the user sounds pretty silly in hindsight, yes.

[2015-04-13 10:08] let4be commented on #450
we probably should just move this notification is the less annoying place - this is what I suggest

[2015-04-13 10:11] let4be commented on #449
I meant this
![image](https://cloud.githubusercontent.com/assets/4147061/7113638/832989a0-e1de-11e4-87aa-bb3b1e076eeb.png)

[2015-04-13 10:17] vLooz commented on #449
https://mail.lavaboom.com/label/Inbox?threadId=R9s5Qq8ezabuHNBEnFfS

[2015-04-13 10:58] let4be commented on #450
![image](https://cloud.githubusercontent.com/assets/4147061/7114360/2a386dc8-e1e5-11e4-833a-b29da88e2fc6.png)
will this work for us?

[2015-04-13 10:58] let4be commented on #453
![image](https://cloud.githubusercontent.com/assets/4147061/7114360/2a386dc8-e1e5-11e4-833a-b29da88e2fc6.png)
will this work for us?

[2015-04-13 11:00] #451 closed

[2015-04-13 11:04] let4be opened #454 "Style warning notifications"
![image](https://cloud.githubusercontent.com/assets/4147061/7114437/ee3672ec-e1e5-11e4-8de2-de200e778fa3.png)
this has a class of notifications-warning but displays as info notification with nice calm blue color

pls fix

[2015-04-13 11:19] #453 closed

[2015-04-13 11:19] #450 closed

[2015-04-13 11:20] let4be commented on #449
@pzduniak could you pls check the thread.secure field for this thread?

[2015-04-13 11:29] andreis commented on #450
Yeah, that was how it was intended in the first place. That however means no JS task for @Im4JAR  :(

[2015-04-13 11:29] andreis commented on #453
Yes. How did you do it btw? @let4be

[2015-04-13 11:30] let4be commented on #450
There is a
https://github.com/lavab/web/issues/362
;)

[2015-04-13 11:32] let4be commented on #453
https://github.com/lavab/web/blob/develop/manifest.json
But manifest.json used to serve a different purpose before so it was in .gitignore ^^
fixed

[2015-04-13 11:33] let4be commented on #453
I guess I will need to write some script to do a fast
bump manifest.json, change change log, add tag, commit all this and then push into develop

probably a separate gulp task 'deploy'

[2015-04-13 11:43] #442 closed

[2015-04-13 11:45] let4be commented on #449
Another explanation would be that you have correct imported public key for felix.vlooz@gmail.com
which is possible

[2015-04-13 11:47] andreis commented on #453
I'm pretty sure you're looking forward to rewriting all of Lavaboom as gulp tasks. :smile

[2015-04-13 12:49] let4be commented on #453
I just think our gulp file isn't big and complex enough ;) yet...

[2015-04-13 15:17] 3nsoft opened #456 "Cannot get past "Invite code" thingy"
When doing 'gulp develop' and 'gulp serve', cannot get past invite codes. Below is log from a console on Firefox 37.0.1:
...
- GET http://localhost:5000/partials/validationMessages.html  200 OK
- Calling accounts.create.register [Object { ... }] ... utils.js (line 682)
- Error: Translation 'LAVABOOM.API.ERROR.ACCOUNTS.CREATE.REGISTER.400' not found!

    callee$3$0$()            utils.js (line 578

[2015-04-13 15:37] vLooz commented on #449
Am I the only one having this issue?

[2015-04-13 15:38] let4be commented on #449
I couldn't reproduce this, let's wait for @pzduniak

[2015-04-13 20:41] flixi commented on #456
As far as I know, there is certainly something planned for that in the very near future to run your own api container and then also dockerize the front-end container. I would give it a week more or so... @andreis

[2015-04-13 20:45] flixi opened #457 "Cannot read any encrypted emails"
![bildschirmfoto 2015-04-13 um 22 37 18](https://cloud.githubusercontent.com/assets/707993/7125076/553a8f12-e22e-11e4-9222-49237a48171e.png)
https://gist.github.com/flixi/402a49c47511762bd52f
I can't tell whether or not my keys are decrypted because of the bug I reported to @let4be

[2015-04-13 20:46] flixi commented on #457
https://mail.lavaboom.com/label/Inbox?threadId=fVm7ZpRs4I9oTI8VmEcT

[2015-04-13 20:48] flixi commented on #279
Status @andreis ?

[2015-04-13 20:49] flixi commented on #270
Fixed as of deployment today I have no issues with that anymore.

[2015-04-13 20:49] #270 closed

[2015-04-13 20:50] #216 closed

[2015-04-13 20:52] flixi commented on #312
It does work now, as far as I can tell.

[2015-04-13 20:52] flixi commented on #312
@vLooz @piggyslasher @let4be ?

[2015-04-13 20:53] flixi commented on #410
Is that done yet?

[2015-04-13 20:55] flixi commented on #358
Status @piggyslasher ?

[2015-04-13 20:56] flixi commented on #446
![bildschirmfoto 2015-04-13 um 11 28 11](https://cloud.githubusercontent.com/assets/707993/7125335/5076acd4-e230-11e4-9f34-b9a61944a419.png)

[2015-04-13 20:58] flixi commented on #446
https://gist.github.com/flixi/0d1f3581d244ad4224d6

[2015-04-13 21:00] flixi commented on #452
@vLooz Please do something here.

[2015-04-13 21:03] flixi commented on #457
Suddenly it worked again.

[2015-04-13 21:04] flixi commented on #457
Let's look into that later on.

[2015-04-13 21:13] flixi commented on #449
Nope, it seems to be a very common issue.
https://github.com/lavab/api/issues/124

[2015-04-13 21:14] flixi commented on #443
Is this a prod bug?

[2015-04-13 21:15] flixi commented on #443
@vLooz ?

[2015-04-13 21:20] flixi commented on #453
It'S not on 'prod' yet though?

[2015-04-13 21:21] flixi commented on #453
@let4be

[2015-04-14 07:15] vLooz commented on #443
Couldn't reproduce it anymore. Looks like the guys have solved this.

[2015-04-14 07:15] #443 closed

[2015-04-14 07:21] let4be commented on #449
This maybe the cause as well, I'm not sure what is the status of lavab/api#124
Personally I havent' encountered it for a while

[2015-04-14 07:23] vLooz commented on #452
I agree, this doesn't look at all like I've designed it @flixi

@piggyslasher, please look at my styleguides again and stick to it! The styleguides are on github for almost a month now. See https://github.com/lavab/web/issues/325

I want a clear separation into A) Non-Edit mode and B) Edit mode.

![453 2015-04-14_contact edit master](https://cloud.githubusercontent.com/assets/11177812/7132228/a763

[2015-04-14 07:25] let4be opened #458 "Some important functionality has been removed in the new settings/keys design"
It used to have "decrypt this key" and "key encryption status"
Was it removed on purpose @piggyslasher and @vLooz ? are we going to have this implemented some other way?

[2015-04-14 07:40] vLooz commented on #458
The new key dialogue mockups look like this for over a month:
See: https://github.com/lavab/web/issues/326

The key encryption status could be indicated by the lock icons color. Like this.
![bildschirmfoto 2015-04-14 um 09 39 13](https://cloud.githubusercontent.com/assets/11177812/7132502/2adc9e34-e28a-11e4-97fb-b6c9c4443981.png)

What would a normal user need to decrypt keys? @let4be

![2015-03-1

[2015-04-14 07:45] vLooz commented on #446
I have the same gibberish.
This styleguide is out for almost a month. If they are any problems or doubts preventing you from implementing the key section exactly(!) like this, please let me know. If not, please adjust the UI to my styleguide asap! @piggyslasher :-)
![2015-03-18_settings_keys_dialogs](https://cloud.githubusercontent.com/assets/11177812/7132543/9396fb18-e28a-11e4-9cc4-45b3bba3ff91.p

[2015-04-14 07:48] let4be commented on #458
Thank you, @vLooz

but we need a way to indicate undecrypted keys, and a way to manually decrypt encrypted keys - i.e. entering their password

I can add the field like it was before - "enter key's password" for each undecrypted key

Will it work @vLooz ?

[2015-04-14 07:52] vLooz commented on #458
Why do we need this? @let4be Aren't the keys auto-encrypted with your account password all the time?

[2015-04-14 07:53] vLooz commented on #312
I doesn't look nice, but it works. Definitely needs restyling. But right now there are other more important issues I guess.

[2015-04-14 07:56] let4be commented on #458
They are, but we support this feature for pro-users
They can have keys protected with passphrase different from account's password, so they go to settings and decrypt them manually

[2015-04-14 07:57] let4be commented on #458
this is also handy feature to know your key status, because if there was some bug/issue and you see all your emails encrypted - this may be useful to know your key encrypted/decrypted status

[2015-04-14 08:00] vLooz commented on #458
I see. But like @flixi said at the end of the https://github.com/lavab/web/issues/326 thread, we don't want to focus on pro user features, before we have it done right for the normal users.
I will bring those buttons back in a pro-user styleguide later.

Why can't we use the color codes, I've posted, for the key encryption status?

[2015-04-14 08:03] let4be commented on #326
I'm at least going to show encrypted/decrypted status of the key - if not for production then it's for sure useful in development, same for manual key decryption

[2015-04-14 08:04] let4be commented on #458
closing this and moving to #326

[2015-04-14 08:04] #458 closed

[2015-04-14 08:33] let4be opened #459 "Settings/keys: implement "send public key""

[2015-04-14 08:34] let4be opened #460 "Contacts: implement "request key""

[2015-04-14 08:48] let4be opened #461 "Contacts: what to do if user enters the same emails twice?"
There are some cases here:
- user adds the same email twice for the same contact(probably warn user somehow?)
- user adds the same email that already exists in another contact(probably warn user somehow?)
- user adds email that previously existed as so called "hidden contact"(supposed to replace hidden contact?)

Ideas?

[2015-04-14 09:04] flixi commented on #449
Every Email that comes in gets classified as encrypted at first.

[2015-04-14 09:20] let4be opened #462 "Contacts: something to prevent accidental remove/restore removed contacts"

[2015-04-14 09:20] let4be commented on #462
The subjects, it's super easy to remove contact and there is not way back

[2015-04-14 09:35] let4be opened #465 ""new version" script"
when working on develop branch:
1. Open CHANGELOG.md and wait for save
2. grep the latest version from CHANGELOG.md x.y.z and update manifest.json
3. commit with a message "bumped to x.y.z"
4. push into develop with tag included

as manifest.json is being compiled into js we need to trigger gulp rebuild(add a watch)

[2015-04-14 09:48] let4be opened #466 "Emails are being displayed without a matching thread"
Currently we support urls of kind
http://localhost:5000/label/Sent?threadId=2iqmhEy9zTAJYrVzaWHW

The following situation is possible: user scrolls down to N pages(infinite scrolling), select email and then shares the link/refreshes the page

result: emails are being loaded but they have no corresponding selected thread because we load only first N threads...

Ideas? @pzduniak , @andreis , @flixi

[2015-04-14 10:00] let4be opened #467 "Contacts: block contact functionality"
as shown here #452

[2015-04-14 10:08] let4be commented on #453
should be on master branch from yesterday

[2015-04-14 11:45] mlooz opened #468 "MX record points to IP address, some servers refuse to deliver mail to Lavaboom"
Sending an email from my university account to my lavaboom account failed, I got the following message:

------------------------------------------------------------------------------------------

This message was created automatically by mail delivery software.

A message that you sent could not be delivered to one or more of its
recipients. This is a permanent error. The following address(es) fa

[2015-04-14 11:54] mlooz opened #469 "If nameless contact exists, "To"-Field does not allow entering an address"
If a contact without a name exists, the To-Field does not allow entering an address.

In the To-Field, {{$select.getPlaceholder()}} is shown when the field is empty. When starting to enter an address, only suggestions for hidden addresses are shown. Clicking on the suggestions has no effect, hitting enter opens the CC/BCC fields and deletes the address I typed. Thus, it is not possible to enter a

[2015-04-14 12:10] mlooz opened #470 "Time of email is not shown, error message instead"
See attached picture:
![2015-04-14-14-04](https://cloud.githubusercontent.com/assets/450175/7136335/3910ebce-e2b0-11e4-95ed-d824d3a425a7.png)

[2015-04-14 12:24] let4be commented on #469
nice one, @mlooz
Will fix

[2015-04-14 12:28] let4be commented on #470
This should be already fixed in the master, I guess it's not deployed yet

[2015-04-14 12:28] #470 closed

[2015-04-14 12:34] mlooz opened #471 "PGP Key information is shown even when field is collapsed, mixing with other email adresses"
Steps to reproduce:
1. Create user with two addresses.
2. Add public key to first address.
![key-overlay](https://cloud.githubusercontent.com/assets/450175/7136656/6002c27c-e2b3-11e4-9f66-9649a664a75c.png)

[2015-04-14 12:45] mlooz opened #473 "Typing '?' in a contact name freezes the interface"
Steps to reproduce:
1. Create new contact
2. In contact name, type something and then ?

Does not occur with other symbols I've tested. Forces logout&login to fix.

[2015-04-14 13:11] mlooz commented on #469
Awesome, it works now!
Thanks, that was quick! :-)

[2015-04-14 13:11] #469 closed

[2015-04-14 13:14] let4be commented on #473
Seems like an issue with keybindings, they worked some time before...
regressions are everywhere :|

[2015-04-14 13:27] mlooz commented on #468
This should have been posted to lavab/mailer/issues
Closing it here and reposting.

[2015-04-14 13:27] #468 closed

[2015-04-14 13:27] #473 closed

[2015-04-14 13:30] let4be commented on #471
oh this bug... I cannot reproduce it and having problem to fix it, probably @piggyslasher has the same issue?
It seems to be css related, I tried one simple fix but doesn't seem it helped

please your OS, browser version, branch on what you're testing

[2015-04-14 13:32] let4be commented on #471
Basically collapse directive uses height: 0 when item is collapsed but it seems Safari(afaik only it has the problem) refuses to obey this setting

I've tried adding display: none to collapsed items and it's weird it doesn't help
https://github.com/lavab/web/blob/master/src/less/quirks.less#L11

[2015-04-14 13:38] mlooz commented on #471
I'm testing it on Ubuntu 14.04, the issue happened with both Firefox 37.0.1. and Chrome 41.0.2272.118.
Can test more versions when I get to my other computer.

[2015-04-14 14:01] let4be commented on #471
well... I've tested on all possible browsers on windows - not reproducable, let's wait for @piggyslasher input

[2015-04-14 14:33] let4be commented on #460
To be discussed how this should be implemented as sending public key over regular email cannot be considered safe, do we really want to go this way?

[2015-04-14 14:34] let4be commented on #460
same question about https://github.com/lavab/web/issues/459

[2015-04-14 16:51] mlooz opened #475 "Answers to incoming emails do not show up in Sent folder"
Steps to reproduce:
1. Send email from external address to lavaboom account
2. Reply from lavaboom account
3. Look at "Sent"-folder

Update:
Odd, now the answer's content does not show up in the inbox thread, either.

[2015-04-14 16:58] mlooz commented on #460
Maybe you've discussed this already, but can you tell me why you don't consider sending public keys over regular emails to be safe? Many people share their public keys over open keyservers.

If you already have signatures on your key, than anyone intercepting the message could see who considers you trustworthy. However, for this case a stripped version of the key could be created and right now we

[2015-04-14 17:07] mlooz opened #476 ""Send public key" button in Settings->Keys has trashcan icon otherwise used for deletion"
This is not an outright bug, but may confuse a user. If a user sees the trash can icon first in these settings and then assumes that this icon is associated with sending, there will be a bad surprise when it deletes something. A contact, for example.
@vLooz  Is this on purpose?

[2015-04-14 17:21] mlooz opened #477 "Emails sent to yourself are marked as "answered""
Not high priority, but still odd.

[2015-04-14 19:35] let4be commented on #460
for example:

Alice sends her public key to Bob.
Smith is in between, reads sent public key, replaces it with own
Bob has no idea that this happened and uses received public key of an attacker to encrypt emails and send them to Alice
As Smith has complete control over Bob's communication channel - i.e. can read/replace the data he can easily gather encrypted email, decrypt with his own private key

[2015-04-14 21:16] mlooz commented on #460
Yes, the old man-in-the-middle attack. Thank you for thinking of this!

In the non-lavaboom world, three solutions for this problem exist:
**Fingerprints**: Show the fingerprint of received public keys for contacts. Alice and Bob can then compare the fingerprints of the original in Alice's account and the received one in Bob's account. They don't need a secure connection for this, only one which c

[2015-04-14 21:16] mlooz commented on #460
Yes, the old man-in-the-middle attack. Thank you for thinking of this!

In the non-lavaboom world, three solutions for this problem exist:
**Fingerprints**: Show the fingerprint of received public keys for contacts. Alice and Bob can then compare the fingerprints of the original in Alice's account and the received one in Bob's account. They don't need a secure connection for this, only one which c

[2015-04-14 21:16] mlooz commented on #460
Yes, the old man-in-the-middle attack. Thank you for thinking of this!

In the non-lavaboom world, three solutions for this problem exist:
**Fingerprints**: Show the fingerprint of received public keys for contacts. Alice and Bob can then compare the fingerprints of the original in Alice's account and the received one in Bob's account. They don't need a secure connection for this, only one which c

[2015-04-15 00:52] piggyslasher commented on #471
I have to test this again. When i left this last friday, it was working on all browsers. it pretty much uses the same code as contacts, which was also working. should be a quick fix.

[2015-04-15 00:57] piggyslasher commented on #476
no. the icons were not correct. fixed on my branch.

[2015-04-15 00:59] piggyslasher commented on #452
actually @vLooz - the version i left before i went on my break had your edit / discard buttons exactly where you wanted them. in the top corner. there's a regression here. I have to check what exactly was changed.

[2015-04-15 01:03] piggyslasher commented on #446
this is how it looks on my side.

![image](https://cloud.githubusercontent.com/assets/1991125/7150491/2f3f671c-e34e-11e4-9502-01ad201c7d4a.png)

I'm not sure why you're seeing gibberish. @andreis - can you make sure @vLooz is on the latest?

Theres more refinements to do but yes. the collapse/expand system works.

[2015-04-15 03:10] piggyslasher commented on #446
i've tried all known browsers on Mac and cannot replicate this issue. are you guys using a local copy? or the develop branch? or .com or .co?

here's the latest:
![image](https://cloud.githubusercontent.com/assets/1991125/7151633/db990cdc-e35f-11e4-8da5-37c5cdef6fa7.png)

@let4be have we decided on the 'decrypted' field? To be honest I'm only following @vLooz's layouts and the decryption system wa

[2015-04-15 03:39] piggyslasher commented on #446
I never added these buttons. The were added by @let4be

Now we have the + and - buttons but you only refer to them for pro users. So I'm really not sure what to do here.

What I've done so far is this. I've styled whatever I can to include all the functionality that you've added to your final mockup.

here's what the latest work looks like:

![image](https://cloud.githubusercontent.com/assets/1991

[2015-04-15 04:02] piggyslasher commented on #446
pull request #478 closed.

[2015-04-15 04:04] piggyslasher commented on #476
i think some icon changes got lost in last weeks merge

now it looks like this:

![image](https://cloud.githubusercontent.com/assets/1991125/7152089/75b153e0-e367-11e4-8ed4-15040c19dce8.png)

closing this issue for now.

[2015-04-15 04:04] #476 closed

[2015-04-15 04:09] piggyslasher commented on #410
we have styling for the notifications above the email area. there arent any other notifications that we have at the moment.

we also have self-dismissing notifications that dissappear after 3 seconds.

[2015-04-15 04:12] piggyslasher commented on #326
so we don't give the ability of adding a new key for non-pro users? @flixi @let4be @vLooz ?

right now that funcionality is in the the 4 buttons, which @vLooz didn't have in his mockups in the first place

![image](https://cloud.githubusercontent.com/assets/1991125/7152159/9ad7e62e-e368-11e4-888f-b75131d8a5e0.png)

[2015-04-15 04:13] piggyslasher commented on #312
let me have another look at this. last time it was blocked because forward was bugged.

[2015-04-15 07:28] vLooz commented on #476
Nice work @piggyslasher! Looking great!

[2015-04-15 07:50] mlooz commented on #471
This seems to be an OS issue. On Ubuntu 14.04., the bug appears on all browsers I tested (Firefox, Chrome, Epiphany) both in the contacts and key settings.

[2015-04-15 09:35] mlooz opened #479 "Inbox threads are sorted by date of first message, should be date of last message"
Steps to reproduce:
1. Send first email (E1) from external address to lavaboom account
2. Send second email (E2) with different subject from external address to lavaboom account
3. Reply to E1 from lavaboom account, let's call this email E3
4. Reply to E3 from external account to lavaboom account (E4), use same subject as E1

Now emails E1, E3 and E4 should be in one thread on top. Instead, the th

[2015-04-15 09:42] mlooz opened #480 "Missing mouseover texts on top panel icons"
Steps to reproduce:
1. Open any non-empty email folder
2. Hover mouse over icons in top panel

The same applies for the contacts section.
Mouseover text is especially necessary for the trash can, as it is an unusual symbol for deletion

[2015-04-15 10:15] piggyslasher commented on #471
it doesnt seem to be an OS issue - as @flixi & @vLooz have seen it on their macs before.
[!image](https://cloud.githubusercontent.com/assets/707993/7125335/5076acd4-e230-11e4-9f34-b9a61944a419.png)

[2015-04-15 10:19] #471 closed

[2015-04-15 10:19] piggyslasher commented on #471
please continue commenting on #446 @mlooz

Thanks for all your effort!

[2015-04-15 10:23] piggyslasher commented on #462
i think we need to the yes/no notification. again - should we have a modal popup or the notification yes/no bar?

@vLooz

The notification bar on top of the main pane seems to not block the user from doing other things. if we have a modal notification then it needs to be acted on before the user can do anything else.

Another way is an undo button that is shown for 10 seconds after a contact is de

[2015-04-15 10:32] piggyslasher commented on #250
this was fixed and here's the updated issue is at #447

[2015-04-15 10:32] #250 closed

[2015-04-15 10:34] piggyslasher commented on #480
1. i think the recycle bin, trash system in all the OSs use the trash can icon.
2. however for consistency since we have tooltips on other icons in the action bar (the black bar), this would take only a minute or two for me to add.

[2015-04-15 10:36] piggyslasher commented on #358
i have a branch where I've been working on this. I will check with @let4be on how to use different classes for helping me style this. I have all the svg images ready.

[2015-04-15 10:45] piggyslasher opened #481 "Need expiry date and key strength in key factory"
@let4be - @vLooz's mockups have the expiry date and the key strength

can we have this in the factory please?

/src/js/apps/AppLavaboom/factories/key.js

[2015-04-15 10:50] piggyslasher commented on #452
also the #325 was marked as Lava 2.1 so I didn't proceed with it. I will add the edit mode button in now. should be a quick fix.

[2015-04-15 11:04] vLooz commented on #452
nice! Could you make sure that in non-edit mode the whole Business mail section only is visible when there actually is a business mail added? @piggyslasher

[2015-04-15 11:11] vLooz opened #482 "Contacts: Responsive Bugs"
On http://127.0.0.1:5000/contacts/profile/ZMHSv4jZObW3ACHjctEt (Viks Version) this happens, when I make the window smaller:
![contacts responsive bugs](https://cloud.githubusercontent.com/assets/11177812/7157496/7a758ad2-e370-11e4-8d67-b5475dab555e.png)

[2015-04-15 11:23] piggyslasher commented on #482
yes. the profile picture takes full width because the fields needs to be a usable width.

Vikram Ramanujam [7:19 PM]
thats okay right?

Vikram Ramanujam [7:19 PM]
the center pane i'll fix it more.

problem is we didnt plan for anything less than 600px width yet @fvl - there was going to be a mobile interface for that.

Vikram Ramanujam [7:20 PM]
afaik, that was my instructions.

Vikram Ramanujam [

[2015-04-15 11:37] piggyslasher commented on #452
![2015-03-17_contact_retouch add edit features-02](https://cloud.githubusercontent.com/assets/11177812/6759296/3d1ac188-cf3f-11e4-95e5-b5961bf9870b.png)
![2015-03-17_contact_retouch add edit features-03](https://cloud.githubusercontent.com/assets/11177812/6759297/3f512942-cf3f-11e4-95bf-b7d1077eeb35.png)
![2015-03-17_contact_retouch add edit features-04](https://cloud.githubusercontent.com/assets/

[2015-04-15 11:54] mlooz commented on #416
This would be needed if some non-Lavaboom user Alice knows about PGP, has created a key pair and distributed the public key *without having a method to read encrypted emails sent to her*. I have to say, I consider that unlikely. If Alice knows about PGP, as is likely when she distributes her public key, she will be suspicious of any website asking for her private key.

If her email program does in

[2015-04-15 12:15] mlooz commented on #446
Commenting here since the other one was a duplicate.
I'm working on the .com version with Firefox on Ubuntu 14.04.

Setting style="overflow: hidden" works!

Toggling the key information now changes the style from "overflow: hidden; height: 0px;" to "style="overflow: hidden; height: auto;" and back, both looking as they should. :-)

[2015-04-15 12:18] mlooz commented on #480
1. True, the recycle bin itself is often represented by a trash can. I haven't seen it before for the *act of deletion*, though.
2. Consistency is always good! If you could add these, this would be awesome.

[2015-04-15 12:20] piggyslasher commented on #480
will do

[2015-04-15 12:25] piggyslasher commented on #446
i believe youre seeing an older version on .com - there's tones of small fixes I did over the weekend. why do you pull fresh from git?

you wont have this issue if you use the latest version.

https://github.com/lavab/web has the instructions on how to setup. It is actually _very_ easy.

```git clone https://github.com/lavab/web.git && cd ~/web/ && git checkout develop && npm install -g gulp && np

[2015-04-15 12:50] mlooz commented on #446
I had to strongarm gulp into accepting an older node.js version, but now it works and looks right. Thanks! :-)

[2015-04-15 12:59] vLooz opened #483 "Contacts: Non-edit mode cleaner please"
![contacts_non-edit-mode](https://cloud.githubusercontent.com/assets/11177812/7159084/ed7636bc-e37f-11e4-8b36-d5af00e179e9.jpg)

[2015-04-15 13:00] mlooz opened #484 "Changing passwords and enabling autosync should trigger confirmation"
This is more a feature request than a bug.

During account creation, the user is informed about the importance of the password and how it is impossible to reset it. The same applies for the key syncing.

In the settings field, the password can be changed without any notification or reminder to memorize the new passwort. Key Syncing can be activated and deactivated with one click, without any visua

[2015-04-15 13:41] vLooz commented on #446
I did indeed looked at the .com version instead of your local branch @piggyslasher. Apologies for giving unfair feedback because of this!
Even though the .com version is what beta testers see and test right now. I doesn't make much sense to let them give feedback to a version, that is not up to date, right? I've just talked to FMI about this and I think we need to get the deployment to .com quicke

[2015-04-15 13:42] flixi commented on #479
Agreed. Display the latest received email ontop, differentiate the sorting, so that it sorts via newest email instead of first email received.

[2015-04-15 13:58] vLooz commented on #452
exactly :-)

[2015-04-15 14:01] vLooz commented on #462
I'd go with the modal notification with yes/no @piggyslasher

[2015-04-15 14:10] mlooz opened #485 "No visual indication that a missing subject prevents the email from being sent"
When the subject is missing, it is not possible to send the email. This is indicated by the grayed out send icon, but there is no indication for the reason.

Possible Solution: Flash a red border around the subject line, or open a window asking for the subject, or just allow sending without subject.

I would favour the third or the second option, as flashing red always implies a user error. It is

[2015-04-15 14:14] vLooz commented on #462
Something like this until I come up with something more specific :)
![bildschirmfoto 2015-04-15 um 16 13 39](https://cloud.githubusercontent.com/assets/11177812/7160600/6aa89eea-e38a-11e4-8ed3-823e09c15749.png)

[2015-04-15 14:39] mlooz opened #486 "Clicking anywhere after entering an address in the To-field deletes the address"
Steps to reproduce:
1. Compose a new email. Type an address in the To-Field.
2. Without clicking on the suggestions, click on the subject line or email body.

What happens: Address is deleted, even if it was complete

What should happen: The same behaviour as happens when hitting Tab or Enter: Address is transformed into new hidden contact

Browser: Firefox on Ubuntu 14.04
Version: Both .com and 0

[2015-04-15 14:49] flixi commented on #462
Add "There is no way back."

[2015-04-15 14:50] flixi commented on #485
@vLooz @piggyslasher @let4be

[2015-04-15 14:51] flixi commented on #452
Can we close the issue?

[2015-04-15 15:00] vLooz commented on #485
I would definitely go with the third version: Make it possible to send emails anyway, even without subject line and without text. The empty subject line could be auto-replaced with (no subject), like it's done in other mail clients.

[2015-04-15 15:01] flixi commented on #485
Agreed.

[2015-04-15 15:03] flixi commented on #326
Nope, there is no way to currently add an own keypair.

[2015-04-15 15:05] flixi commented on #410
Is the ability to implement such notifications there though? So theoretically anyone could actually use these to style his or her own notifications?

[2015-04-15 15:09] flixi commented on #460
Not MVP! But soon afterwards it's worth having an in-depth discussion about this.

[2015-04-15 15:10] piggyslasher commented on #410
well. things like 'contact saved' is  self dismissing notification because its a pain to keep clicking 'ok' in those situations. I'm not sure if anyone can use these notifications. If i made a chrome plugin or something then yes i can use this same styling. or if i had access to the javascript.

the notifications is all decided by one central notification service. if there is a timeout in the noti

[2015-04-15 15:11] flixi commented on #467
Is this really necessary?

[2015-04-15 15:13] flixi commented on #410
Nope, I'm talking about implementation of the notifications, so that a developer would be able to call upon a class with a random notification and thus it would create a nice notification?

[2015-04-15 15:13] piggyslasher commented on #452
@flixi - there's more to this issue because of the placement of the edit button and the edit/non-edit mode. maybe by tomorrow i can fix this completely.

[2015-04-15 15:14] piggyslasher commented on #410
yes. he just needs to call the notification service and set the text and the timeout if any. he can call it from anywhere in the application.

[2015-04-15 15:14] flixi commented on #410
we can close this then...

[2015-04-15 15:17] flixi commented on #465
So we need something like an automated web version thingy that informs logged in useres that there has just been a new version updated?

[2015-04-15 15:20] piggyslasher commented on #410
problem is that __this__ is also a notification. we haven't completed that yet.

![image](https://cloud.githubusercontent.com/assets/1991125/7162169/b62e15da-e3c5-11e4-8ede-cdd9f16c6428.png)

from #462. Maybe we can close this and only have that open. But this issue is a general issue has about 2-3 notification styling so I thought I'd keep it open.

[2015-04-15 15:25] piggyslasher commented on #462
@let4be can we use this service so that we can have different kinds of dialogs?

http://codepen.io/m-e-conroy/pen/rkIqv

[2015-04-15 15:26] flixi commented on #410
Did you implement a simple way to call the notifications though?
As you said I should be able to create a notification now, add some text, two buttons with text then add the class of popup notification and ultimately receive a notification that is styled like the one above.

[2015-04-15 15:28] flixi commented on #462
Yes. @piggyslasher that'S exactly what I talked about!

[2015-04-15 15:33] piggyslasher commented on #462
yes boss. right now we have only the notification above the mail panel:

![image](https://cloud.githubusercontent.com/assets/4147061/7114437/ee3672ec-e1e5-11e4-8de2-de200e778fa3.png)

if we have this service (http://codepen.io/m-e-conroy/pen/rkIqv) we have the modal notifications as well. Will wait for @let4be to give input on this. But the good thing is that he has setup a notification service wh

[2015-04-15 15:34] vLooz commented on #326
Do we have the function "Generate new key pair" already? @pzduniak @flixi

[2015-04-15 15:43] #449 closed

[2015-04-15 15:49] mlooz opened #487 "If multiple contacts start with the same letter, encryption symbols are shifted"
Steps to reproduce:

1. Create user Bob with bob@example.com
2. Create user Bobby with bobby@example.com
3. Look at contact list

Happened with Firefox on Ubuntu 14.04 and local copy of commit 8da83c00384b41f7b86feb8c164ed248491fd7aa

![bobs](https://cloud.githubusercontent.com/assets/450175/7163319/982ddc36-e399-11e4-9c4c-98a0cc6c7209.png)

[2015-04-15 15:51] vLooz commented on #326
I propose this:
![2015-03-18_settings_keys_dialogs-08](https://cloud.githubusercontent.com/assets/11177812/7163022/0060e408-e398-11e4-8176-050c553788ad.png)

[2015-04-15 15:52] pzduniak opened #488 "Member list filtering should use GET /addresses"
![Current result](http://qs.lc/l6eh9)

Maybe we could display it in an other way?

[2015-04-15 15:56] flixi commented on #488
This is an alternate email address, so the pz-account also uses piotr as receipient.

[2015-04-15 15:58] pzduniak commented on #488
dm me on slack for alternate email mappings to test them

[2015-04-15 15:59] pzduniak commented on #488
It's low priority because we won't initially provide alt mappings to users.

[2015-04-15 16:02] pzduniak commented on #326
I'm not sure if the minus and plus icons will mesh well with rest of the design, but I'm not an UI designer :smile: API was designed with a possibility of using multiple keypairs, so it will work. We also need some way to set one keypair as default, @vLooz.

[2015-04-15 16:12] vLooz opened #489 "Contacts with both, a secure and a non-secure email are shown as unsecure in the List."
I think we should show contacts with multiple saved email addresses, among which are non-pgp addresses, should be shown as secure (closed lock) in the Contact list.

2 reasons for this:

1)When the user writes a new mail and selects a recipients address, the locks indicate which one is secure and which not. I find it unlikely, that the user will confuse a safe address with an unsafe one.

2) Once

[2015-04-15 16:25] vLooz commented on #326
Isn't the newest KeyPair the default automatically @pzduniak?

[2015-04-16 04:27] piggyslasher commented on #326
the plus/minus icons are really slick to be honest. they work nicely. i'll change the add button to generate new key pair. that leaves

  - [] import keys
  - [] export keys
  - [] and the still ambiguous _remove decrypted keys_

[2015-04-16 04:31] piggyslasher commented on #489
maybe we can do this - no icon for insecure, orange for semi-secure and blue for secure? just a thought.

[2015-04-16 04:38] piggyslasher opened #490 "Make Roboto font use on-site version rather than from google"
We discussed this and I'm going to use embedded dataURI versions. Im just adding it so I have it on my list.
Why? Same reason we're embedding external images.
1) no external parties can have any record of users IP
2) not depending on external resources

Why not?
1) Roboto font can be cached on many computers and devices from Google (when user visits other websites which uses Roboto from Google) -

[2015-04-16 06:54] let4be commented on #488
Do you refer to the search box on the top of the page?
Actually search functionality is kind of incomplete now because it looks only in _downloaded_ threads/emails

[2015-04-16 06:56] pzduniak commented on #488
Take a look at the screenshot please.

[2015-04-16 07:43] #481 closed

[2015-04-16 07:48] #485 closed

[2015-04-16 08:22] flixi commented on #490
If the User has Roboto in his cache somewwhere it means that the font is not reloaded and thus creating no time constraints.

[2015-04-16 08:27] flixi commented on #479
Is this issue pushed to .com?

[2015-04-16 08:34] let4be commented on #479
not yet, will merge today later with the other fixes/improvements

[2015-04-16 08:44] vLooz commented on #326
Didn't @flixi say, that "importing keys" is not possible right now?

The "remove key" option definitely is a Pro user feature!
Maybe "generate new keypair" should be as well, I'm worried that a unskilled user could mess with the system even by just generating a new keypair. Is that worry valid? What do you think @andreis @flixi?

[2015-04-16 08:45] flixi commented on #479
Great. ;)

[2015-04-16 08:46] vLooz commented on #489
I don't think we need a semi-secure here. Once the contact has at least one secure email address, secure communication is possible @piggyslasher

[2015-04-16 08:47] #486 closed

[2015-04-16 08:47] let4be commented on #486
That turned out to be quite interesting task ;)

[2015-04-16 08:48] let4be commented on #489
Agree., will push a fix soon

[2015-04-16 08:49] vLooz commented on #489
nice!

[2015-04-16 08:49] mlooz commented on #486
"Interesting" as in "way more work than it looks from the outside?" ;-)

[2015-04-16 08:50] #489 closed

[2015-04-16 08:54] let4be commented on #487
Hm... I can't reproduce it on the fresh develop
could you check this @piggyslasher ?

[2015-04-16 09:03] mlooz commented on #487
Only happens with Firefox, Chrome works fine.
Happens on both .com and local copy of commit d400309e17454167aef7d6e387c60892e7d63046

[2015-04-16 09:10] let4be commented on #477
I guess this will require API asap to avoid making extra requests, currently I have this:
https://github.com/lavab/web/blob/develop/src/js/apps/AppLavaboom/factories/thread.js#L21-21

and API returns 2 emails inside thread for sent-to-yourself emails, + there is a weird possible case when email can be sent to yourself and someone other

@pzduniak I'd suggest do not pass both ids in thread.emails f

[2015-04-16 09:12] let4be commented on #467
hm, we probably need some way to block correspondence from someone particular
but it's up to you @flixi, of course :)

[2015-04-16 10:00] let4be commented on #465
No, this is just for internal usage
We use semver and this requires some steps to follow each time - error prone and tedious

[2015-04-16 10:04] let4be commented on #406
Okay this is more or less settled for now - we're going to support styled(with warning and confirmation) emails, current styling-preserve implementation turned out to work pretty well afaik

[2015-04-16 10:04] #406 closed

[2015-04-16 10:41] flixi commented on #488
The way it is displayed inside the Email list.

[2015-04-16 10:43] let4be commented on #462
@piggyslasher, service added

[2015-04-16 10:44] flixi commented on #465
AH okay, 2.1?

[2015-04-16 10:53] let4be commented on #462
I'm pushing some more for this in the nearest hour or so:
- proper i18n integration
- example of use in settings/security

[2015-04-16 10:57] flixi commented on #326
Yes, that worry is valid. So, please remove those features.
But keep the decrypt functionality thoug @piggyslasher

[2015-04-16 11:00] let4be commented on #465
sure

[2015-04-16 11:53] mlooz opened #492 "Key details for own key pair and contact keys show different information"
For foreign keys, the key ID, length and algorithms is shown. For user keys, fingerprint, algorithms and creation date is shown.

Is this on purpose?
At least the fingerprint would be interesting for foreign keys as well.

[2015-04-16 12:29] #484 closed

[2015-04-16 14:07] let4be commented on #488
So we want to show just piotr@lavaboom.com as another email is an alias, right?

[2015-04-16 15:18] flixi commented on #488
nope, piotr is the alias we just want to display the from address.

[2015-04-16 15:19] let4be commented on #462
Anyway I we could consider making a "trash can" for contacts, or something that would help users to restore accidently removed contacts
What do you think, @vLooz ?

[2015-04-16 16:09] vLooz commented on #326
Alright. So basically the (-) and (+) Icons and the connected function only appear in Edit Mode for Pro User - which we don't offer in MVP.

[2015-04-16 16:39] vLooz commented on #462
I think we should do a warning popup like I posted above. When the user still wants to delete it then, it's ok to be not restorable.

[2015-04-16 17:24] vLooz opened #493 "Mail can't be delivered to Lavaboom"
I've send a Mail from my Gmail account (felix.vlooz@gmail.com) to my Lavaboom account (felix.vlooz@lavaboom.com). After a while I got this Notification Mail.
The same happened, when I tried to send a mail to Moritz (moritz@lavaboom.com) from the very same gmail account.
Do you have a clue what's causing this? @pzduniak @andreis ?

This is an automatically generated Delivery Status Notification

TH

[2015-04-16 18:11] let4be commented on #493
@vLooz we have https://github.com/lavab/mailer/issues for such kind of stuff,
could you please post mailer issues there? web already has enough its own...

[2015-04-16 18:35] flixi commented on #493
Moved.

[2015-04-16 18:35] #493 closed

[2015-04-16 18:50] let4be commented on #466
I'm thinking on a way to download and store the whole mailbox locally, this would make possible the following things:
- full featured search by subject/email text
- improved speed and user experience
- less load on API as client wouldn't make repeating requests for the same emails over and over again, currently we have only in-memory caching

Found this one: https://github.com/tantaman/LargeLocalS

[2015-04-16 18:55] let4be commented on #466
The other option would be to pass Threads/Emails as JSONP from API by https directly without sock.js and thus utilize browser caching for those files, this seems to me as a nice solution without using hacks with local storage.

What do you think @andreis, @pzduniak ?

But still even if we managed to have each thread and email cached locally there would be a big problem with pgp performance...

[2015-04-16 19:21] let4be opened #494 "Suggestion: "select desired security level" during signup"
We could provide user with two options:
- paranoidal: disable external images, disable embedded styling, disable lavaboom sync
- practical: proxy external images through lavaboom sync, enable embedded styling, enable lavaboom sync

In future another security options may appear and probably this could be a good idea to give user an easy way to configure his lavaboom's account security personally fo

[2015-04-16 20:32] mlooz opened #495 "Keyserver support"
These are features I would like as a user, as they would make interaction with the non-Lavaboom ecosystem much easier.

- [ ] button in contacts view to search for missing keys on keyserver
- [ ] when looking at signed email for which no public key is available, button to look for key on keyserver
- [ ] button to upload own public key on public keyserver
- [ ] option to revoke key publicly if it h

[2015-04-16 21:05] let4be commented on #432
I've added an option to settings - allow/block,
as for a 'ask' option it turned out too be too time consuming to implement this and to make it work correctly with reply-to && forward && text-angular

Closing, we should be fine with implemented solution for now.

[2015-04-16 21:05] #432 closed

[2015-04-17 03:40] andreis commented on #494
That sounds good. Something like "Enable Paranoid Mode (advanced users)" and you can expand/click a link with a comparison/explanation.

[2015-04-17 07:36] vLooz commented on #494
I like the idea, too @let4be.

We could have the switch in general settings with a info text below it (expandable), defining what the paranoid mode does exactly and consequences for usability it has.

Later we could let the user decide which level they like as early as during SignUp.

[2015-04-17 08:25] piggyslasher commented on #487
this is an ff problem. will fix.

[2015-04-17 08:36] piggyslasher commented on #487
good thing youre testing on firefox. just fixed this. will reference a pull request when its on develop. thanks again.

[2015-04-17 08:39] piggyslasher commented on #487
please test. its on develop.

[2015-04-17 08:41] piggyslasher commented on #490
yes. thats true. _if its cached_. if not it loads from google.

[2015-04-17 08:57] let4be commented on #416
the key thing is all crypto happens *only* on client-side so this can be easily tracked - no data being sent after she enters her private key ;)

I think we may want to make this feature work in "offline" mode, i.e. encrypted email is being downloaded and then can be decrypted without an internet connection at all, so user could easily verify his private key isn't going anywhere

[2015-04-17 09:51] mlooz commented on #487
fixed on develop, thanks!

[2015-04-17 09:58] piggyslasher commented on #452
fixed - edit mode now works. please check on develop. fixed on c491841a2df431c47a08f87c1354fe736089a68e

[2015-04-17 09:59] mlooz commented on #416
"Offline mode" is a neat idea!

Until then, a possibly easier alternative:
When sending an email in Lavaboom, the ASCII-armored encrypted message flashes for about half a second before the window closes. Some PGP clients, for example Enigmail on Thunderbird, have problems with PGP manifestos but can decrypt ASCII-armored messages just fine. Maybe add this format as an option also for external addr